<h2>
    <center> ===== Live =====</center>
</h2>
<div class="live-zone">
    <div class="sticky-notification">
        <div class="heading">
            <p>Thái Lan vỡ mộng giành vé dự VCK U17 thế giới sau khi nhận thất bại tới 1-4 trước U17 Hàn Quốc, ở tứ kết
                U17 châu Á 2023.</p>
        </div>
        <div class="content">
            <p> <span class="bold">Ghi bàn:</span>
                <br><span class="bold">U17 Hàn Quốc</span>: Kang Min Woo (4'), Kim Myeong Jun (36'), Yun Do-young
                (69'), Kim Hyun Min (84').
                <br><span class="bold">U17 Thái Lan</span>: Buranajutanon (15').
            </p>
            <p> <span class="bold">Đội hình ra sân:</span>
                <br><span class="bold">U17 Thái Lan</span>: Khuptanawin; Choklap, Booncharee, Chamsakul, Lomnak; Lekkun,
                Jungviaron, Sangkasopha, Tampradat; Buranajutanon, Kongmeng.
                <br><span class="bold">U17 Hàn Quốc</span>: Hong Seong Min; Lee Su Ro, Kang Min Woo, You Min Jun, Seo
                Jeongh
                yeok; Cha Je Hoon, Back In Woo, Jin Taeho, Kim Hyun Min; Kim Seong Ju , Kim Myeong Jun.
            </p>
            <table class="picture max-width">
                <tbody>
                    <tr>
                        <td class="img"><img src="https://source.unsplash.com/featured/1920x768?sig=1" alt="1700x394">
                        </td>
                    </tr>
                    <tr>
                        <td class="caption">max-with</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="wrap-item">
        <div class="dash"></div>
        <div class="box-item">
            <div class="item">
                <div class="icon-live">
                    <a href="#" class="dot">dot</a>
                    <div class="arrow-left"></div>
                </div>
                <div class="meta">
                    <time>22:58 25/06/2023</time>
                </div>
                <div class="wrap-content">
                    <div class="heading">
                        Kết thúc
                    </div>
                    <div class="content">
                        <strong>support thẻ figure</strong>
                        <figure class="outset-right">
                            <img src="https://source.unsplash.com/featured/700x394?sig=1" alt="">
                            <figcaption> figure outset-right</figcaption>
                        </figure>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus exercitationem est culpa maxime
                            quam doloribus
                            repudiandae ea earum magnam et aperiam commodi eum assumenda, excepturi nulla ipsa ipsum
                            provident eius sequi, illum
                            dignissimos tenetur. Assumenda, hic ad dicta inventore eos vero soluta neque voluptates at
                            deserunt molestiae
                            illo maxime. Perspiciatis quidem eos quaerat dolor accusantium quia illum, ratione iste, ex
                            repellendus sit iusto
                            excepturi dicta tempore laborum voluptates non ipsum? Deleniti dolores est iste expedita sequi
                            quam, quos quas,
                            ipsam facilis voluptatum esse non qui aliquid ut atque voluptatibus molestias aspernatur. Iure
                            incidunt rem illo ad
                            maiores nulla at eos tenetur, repudiandae amet suscipit perferendis magni quis?</p>
                        <figure class="outset-left">
                            <img src="https://source.unsplash.com/featured/700x394?sig=1" alt="">
                            <figcaption> figure outset-left</figcaption>
                        </figure>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ut hic, pariatur eaque libero
                            amet tempore iure
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus exercitationem est culpa
                            maxime quam doloribus
                            repudiandae ea earum magnam et aperiam commodi eum assumenda, excepturi nulla ipsa ipsum
                            provident eius sequi, illum
                            dignissimos tenetur. Assumenda, hic ad dicta inventore eos vero soluta neque voluptates at
                            deserunt molestiae
                            illo maxime. Perspiciatis quidem eos quaerat dolor accusantium quia illum, ratione iste, ex
                            repellendus sit iusto
                            excepturi dicta tempore laborum voluptates non ipsum? Deleniti dolores est iste expedita
                            sequi quam, quos quas,
                            ipsam facilis voluptatum esse non qui aliquid ut atque voluptatibus molestias aspernatur.
                            Iure incidunt rem illo ad
                            maiores nulla at eos tenetur, repudiandae amet suscipit perferendis magni quis?</p>
                        <figure class="align-left">
                            <img src="https://source.unsplash.com/featured/700x394?sig=1" alt="">
                            <figcaption> figure align-left</figcaption>
                        </figure>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus exercitationem est culpa
                            maxime quam doloribus
                            repudiandae ea earum magnam et aperiam commodi eum assumenda, excepturi nulla ipsa ipsum
                            provident eius sequi, illum
                            dignissimos tenetur. Assumenda, hic ad dicta inventore eos vero soluta neque voluptates at
                            deserunt molestiae
                            illo maxime. Perspiciatis quidem eos quaerat dolor accusantium quia illum, ratione iste, ex
                            repellendus sit iusto
                            excepturi dicta tempore laborum voluptates non ipsum? Deleniti dolores est iste expedita
                            sequi quam, quos quas,
                            ipsam facilis voluptatum esse non qui aliquid ut atque voluptatibus molestias aspernatur.
                            Iure incidunt rem illo ad
                            maiores nulla at eos tenetur, repudiandae amet suscipit perferendis magni quis?</p>
                        <figure class="align-right">
                            <img src="https://source.unsplash.com/featured/700x394?sig=1" alt="">
                            <figcaption> figure align-right</figcaption>
                        </figure>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus exercitationem est culpa
                            maxime quam doloribus
                            repudiandae ea earum magnam et aperiam commodi eum assumenda, excepturi nulla ipsa ipsum
                            provident eius sequi, illum
                            dignissimos tenetur. Assumenda, hic ad dicta inventore eos vero soluta neque voluptates at
                            deserunt molestiae
                            illo maxime. Perspiciatis quidem eos quaerat dolor accusantium quia illum, ratione iste, ex
                            repellendus sit iusto
                            excepturi dicta tempore laborum voluptates non ipsum? Deleniti dolores est iste expedita
                            sequi quam, quos quas,
                            ipsam facilis voluptatum esse non qui aliquid ut atque voluptatibus molestias aspernatur.
                            Iure incidunt rem illo ad
                            maiores nulla at eos tenetur, repudiandae amet suscipit perferendis magni quis?</p>
                        <figure align="center">
                            <img src="https://source.unsplash.com/featured/700x394?sig=1" alt="">
                            <figcaption> figure align="center"</figcaption>
                        </figure>
                        <figure align="right">
                            <img src="https://source.unsplash.com/featured/700x394?sig=1" alt="">
                            <figcaption> figure align="right"</figcaption>
                        </figure>
                        <figure align="left">
                            <img src="https://source.unsplash.com/featured/700x394?sig=1" alt="">
                            <figcaption> figure align="left"</figcaption>
                        </figure>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus exercitationem est culpa
                            maxime quam doloribus
                            repudiandae ea earum magnam et aperiam commodi eum assumenda, excepturi nulla ipsa ipsum
                            provident eius sequi, illum
                            dignissimos tenetur. Assumenda, hic ad dicta inventore eos vero soluta neque voluptates at
                            deserunt molestiae
                            illo maxime. Perspiciatis quidem eos quaerat dolor accusantium quia illum, ratione iste, ex
                            repellendus sit iusto
                            excepturi dicta tempore laborum voluptates non ipsum? Deleniti dolores est iste expedita
                            sequi quam, quos quas,
                            ipsam facilis voluptatum esse non qui aliquid ut atque voluptatibus molestias aspernatur.
                            Iure incidunt rem illo ad
                            maiores nulla at eos tenetur, repudiandae amet suscipit perferendis magni quis?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus exercitationem est culpa
                            maxime quam doloribus
                            repudiandae ea earum magnam et aperiam commodi eum assumenda, excepturi nulla ipsa ipsum
                            provident eius sequi, illum
                            dignissimos tenetur. Assumenda, hic ad dicta inventore eos vero soluta neque voluptates at
                            deserunt molestiae
                            illo maxime. Perspiciatis quidem eos quaerat dolor accusantium quia illum, ratione iste, ex
                            repellendus sit iusto
                            excepturi dicta tempore laborum voluptates non ipsum? Deleniti dolores est iste expedita
                            sequi quam, quos quas,
                            ipsam facilis voluptatum esse non qui aliquid ut atque voluptatibus molestias aspernatur.
                            Iure incidunt rem illo ad
                            maiores nulla at eos tenetur, repudiandae amet suscipit perferendis magni quis?</p>
    
                        <table class="picture full-width">
                            <tbody>
                                <tr>
                                    <td class="img"><img src="https://source.unsplash.com/featured/1024x400?sig=1" alt="">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="caption">full-width</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="picture max-width">
                            <tbody>
                                <tr>
                                    <td class="img"><img src="https://source.unsplash.com/featured/1024x400?sig=1" alt="">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="caption">max-width</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="outset-left">
                            <tbody>
                                <tr>
                                    <td>
                                        <img src="https://source.unsplash.com/featured/700x394?sig=2" alt="">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="caption">
                                        <p>outset-left</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="outset-right">
                            <tbody>
                                <tr>
                                    <td>
    
                                        <img src="https://source.unsplash.com/featured/700x394?sig=2" alt="">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="caption">
                                        <p>outset-right</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="align-left">
                            <tbody>
                                <tr>
                                    <td>
    
                                        <img src="https://source.unsplash.com/featured/700x394?sig=3" alt="">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="caption">
                                        <p>align-left</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="align-right">
                            <tbody>
                                <tr>
                                    <td>
    
                                        <img src="https://source.unsplash.com/featured/700x394?sig=4" alt="">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="caption">
                                        <p>align-right</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table align="left">
                            <tbody>
                                <tr>
                                    <td>
    
                                        <img src="https://source.unsplash.com/featured/700x394?sig=5" alt="">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="caption">
                                        <p>align="left"</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table align="right">
                            <tbody>
                                <tr>
                                    <td>
    
                                        <img src="https://source.unsplash.com/featured/700x394?sig=6" alt="">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="caption">
                                        <p>align="right"</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table align="center">
                            <tbody>
                                <tr>
                                    <td>
    
                                        <img src="https://source.unsplash.com/featured/700x394?sig=7" alt="">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="caption">
                                        <p>align="center"</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="icon-live">
                    <a href="#" class="dot">dot</a>
                    <div class="arrow-left"></div>
                </div>
                <div class="meta">
                    <time> 19:00 ngày 27/02/2020</time>
                </div>
                <div class="wrap-content">
                    <div class="heading">
                        hết hiệp 1
                    </div>
                    <div class="content">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt similique earum nihil hic
                            neque ea distinctio! Veritatis quia placeat obcaecati nesciunt amet adipisci nam distinctio
                            dolor illum eligendi? Et, adipisci!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>