<footer class="site-footer">
    <div class="container">
        <div class="footer_content">
            <div class="left">
                <a href="" class="logo"></a>
                <div class="info">
                    <p>© Tạp chí điện tử Giáo dục Việt Nam</p>
                    <p> <span class="bold">Cơ quan chủ quản</span>: Hiệp hội các Trường đại học, cao đẳng Việt Nam.</p>
                    <p> <span class="bold">Giấy phép số</span>: 74/GP-BTTTT ngày 26/02/2020.</p>
                    <p>Phó Chủ tịch Hiệp hội, Tổng Biên tập</p>
                    <p>Cấm sao chép dưới mọi hình thức nếu không có sự chấp thuận bằng văn bản.</p>
                </div>
            </div>
            <div class="right">
                <p><i class="ic-location"></i> 
                    <span class="bold"></span> <!-- INFO : quynhttn review : ? --> 
                    Tầng 6B, tòa nhà số 14-16 phố Hàm Long, phường Phan Chu Trinh, quận Hoàn Kiếm, Hà Nội.</p>
                <p><i class="ic-smartphone"></i> <span class="bold">Liên hệ</span>: 0938.766.888 - 0243.5569666</p>
                <p><i class="ic-mail"></i> <span class="bold">Email</span>: toasoan@giaoduc.net.vn</p>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <p class="text">Ghi rõ nguồn “Báo Lào Cai điện tử” khi sử dụng thông tin trang này.</p>
    </div> -->
</footer>