<div class="wrap-comment">
    <div class="article__comment">
        <h3 class="box-heading">
            <a href="" class="title">Ý kiến bạn đọc</a>
          </h3>
        <div class="box-content">
            <div class="input-comment">
                <textarea placeholder="Nhập nội dung bình luận"></textarea>
                <div class="note-btn">
                    <button class="btn-submit" data-toggle="modal" data-target="#ModalComments">Gửi bình luận</button>
                </div>
            </div>
            <div class="list-comment">
                <div class="rank-1">
                    <span class="avatar">
                        <img src="https://source.unsplash.com/featured/100x100?sig=1" alt="">
                    </span>
                    <div class="content">
                        <div class="name">Nguyễn Văn Tuấn</div>
                        <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. </div>
                        <div class="action">
                            <a href="#" class="like liked">5 Thích<span class="count">(1)</span></a>
                            <a href="#" class="reply">Trả lời</a>
                        </div>
                        <div class="wrap-reply">
                            <textarea placeholder="Nhập nội dung bình luận"></textarea>
                            <button class="btn-submit" data-toggle="modal" data-target="#modalLogin">Gửi bình
                                luận</button>
                        </div>
                    </div>
                </div>
                <div class="wrap-outer">
                    <div class="rank-1">
                        <span class="avatar">
                            <img src="https://source.unsplash.com/featured/100x100?sig=1" alt="">
                        </span>
                        <div class="content">
                            <div class="name">Nguyễn Văn Tuấn</div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. </div>
                            <div class="action">
                                <a href="#" class="like liked">5 Thích<span class="count">(1)</span></a>
                                <a href="#" class="reply">Trả lời</a>
                            </div>
                        </div>
                    </div>
                    <div class="wrap-inner">
                        <div class="rank-2">
                            <span class="avatar">
                                <img src="https://source.unsplash.com/featured/100x100?sig=1" alt="">
                            </span>
                            <div class="content">
                                <div class="name">Nguyễn Văn Tuấn</div>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                                <div class="action">
                                    <a href="#" class="like liked">5 Thích<span class="count">(1)</span></a>
                                    <a href="#" class="reply">Trả lời</a>
                                </div>
                            </div>
                        </div>
                        <div class="rank-2">
                            <span class="avatar">
                                <img src="https://source.unsplash.com/featured/100x100?sig=1" alt="">
                            </span>
                            <div class="content">
                                <div class="name">Nguyễn Văn Tuấn</div>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                                <div class="action">
                                    <a href="#" class="like liked">5 Thích<span class="count">(1)</span></a>
                                    <a href="#" class="reply">Trả lời</a>
                                </div>
                                <div class="wrap-reply">
                                    <textarea placeholder="Nhập nội dung bình luận"></textarea>
                                    <button class="btn-submit" data-toggle="modal" data-target="#ModalVote">Gửi bình
                                        luận</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrap-outer">
                    <div class="rank-1">
                        <span class="avatar">
                            <img src="https://source.unsplash.com/featured/100x100?sig=1" alt="">
                        </span>
                        <div class="content">
                            <div class="name">Nguyễn Văn Tuấn</div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. </div>
                            <div class="action">
                                <a href="#" class="like liked">5 Thích<span class="count">(1)</span></a>
                                <a href="#" class="reply">Trả lời</a>
                            </div>
                        </div>
                    </div>
                    <div class="wrap-inner">
                        <div class="rank-2">
                            <span class="avatar">
                                <img src="https://source.unsplash.com/featured/100x100?sig=1" alt="">
                            </span>
                            <div class="content">
                                <div class="name">Nguyễn Văn Tuấn</div>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                                <div class="action">
                                    <a href="#" class="like liked">5 Thích<span class="count">(1)</span></a>
                                    <a href="#" class="reply">Trả lời</a>
                                </div>
                                <div class="wrap-reply">
                                    <textarea placeholder="Nhập nội dung bình luận"></textarea>
                                    <button class="btn-submit" data-toggle="modal" data-target="#ModalVote">Gửi bình
                                        luận</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="show-more" data-toggle="modal" data-target="#ModalNoti">XEM THÊM BÌNH
                LUẬN</button>
        </div>
    </div>
</div>