<div class="video">
    <div class="container">
        <div class="wrap-heading">
            <h3 class="box-heading">
                <a href="#" class="title">Video</a>
            </h3>
        </div>
        <div class="box-content"> <!-- INFO : quynhttn review : đang dùng grid sao màn 1170 dùng flex ? -->
                <div class="video-rank_1">
                    <article class="story">
                        <figure class="story__thumb">
                            <a href="" title=""> <img src="https://source.unsplash.com/featured/740x493?sig=1" alt="740x493 (~3:2)"></a>
                            <a href="" title=""> <img class="btn-play" src="../img/play_arrow.svg" alt=""></a>
                        </figure>
                        <div class="row"> <!-- INFO : quynhttn review : thừ thẻ, không lạm dụng thẻ để chia khoảng cách (gap) -->
                            <h5 class="story__heading">
                                <a href="#">
                                    Cristiano Ronaldo nỗ lực tập luyện, quyết tâm phá dớp 'tịt ngòi'
                                </a>
                            </h5>
                            <div class="story__meta">
                                <time class="time" datetime="2023-03-22T19:58:40+0700"> 1 giờ trước </time> 
                                <div class="vertical-line"></div>
                                <a href="https://beta.baolaocai.vn/e-magazine/" class="title-cate" title="VIETNAMPLUS">VIETNAMPLUS</a>
                            </div>
                            <div class="story__summary">
                                Đối với Liverpool, chiến thắng 7-0 trước đại kình địch là giấc mơ điên rồ nhất. Đối với Man.United, đây
                                thực
                                sự là cơn ác mộng tồi tệ nhất trong mùa giải đầu tiên đầy hứa hẹn dưới sự dẫn dắt của HLV Erik ten Hag.
                            </div>
                        </div>
                    </article>
                </div>
                <div class="video-rank_2">
                    @@for (var i = 0; i < 2; i++) { <article class="story">
                        <figure class="story__thumb">                                                                                                                                                                                                                       
                            <a href="" title=""> <img src="https://source.unsplash.com/featured/400x225?sig=1" alt="400x225 (~3:2)"></a>
                            <a href="" title=""> <img class="btn-play" src="../img/play_arrow.svg" alt=""></a>
                        </figure>
                        <div class="row"> <!-- INFO : quynhttn review : thừ thẻ, không lạm dụng thẻ để chia khoảng cách (gap) -->
                            <h5 class="story__heading">
                                <a href="#">
                                    Cristiano Ronaldo nỗ lực tập luyện, quyết tâm phá dớp 'tịt ngòi'
                                </a>
                            </h5>
                            <div class="story__meta">
                                <time class="time" datetime="2023-03-22T19:58:40+0700"> 1 giờ trước </time> 
                                <div class="vertical-line"></div>
                                <a href="https://beta.baolaocai.vn/e-magazine/" class="title-cate" title="VIETNAMPLUS">VIETNAMPLUS</a>
                            </div>
                        </div>
                        </article>
                        }
                </div>
        </div>
    </div>
</div>