<footer class="site-footer container">
    <div class="info">
        <a href="" class="logo">logo</a>
        <p> <span class="bold">Tổng Biên tập</span> : Lê Trường Giang</p>
        <p> <span class="bold">Phó Tổng Biên tập</span> : Lưu Thị Nụ - Nguyễn Đức Hoàng</p>
        <p> <span class="bold">Điện thoại </span> :0214.3840.046 <span class="bold">- Fax </span> :
            0214.3840.921</p>
        <p> <span class="bold">Email </span> : baolaocaidientu@gmail.com</p>
        <p> <span class="bold">Trụ sở</span> :Tầng 6, khối 4, đường 30 tháng 4, P.Bắc Lệnh, T.P Lào Cai.</p>
        <p>Giấy phép xuất bản số :<span class="bold">150/GP-BTTTT</span> </p>
        <p>Bộ Thông tin và Truyền thông cấp ngày 22/03/2022</p>
        <p>Powered by ePi Technologies</p>
    </div>
    <div class="row">
        <p class="text">Ghi rõ nguồn “Báo Lào Cai điện tử” khi sử dụng thông tin trang này.</p>
    </div>
    <div class="footer-bar">
        <a href="" class="menu"><i class="ic-menu"></i>Mục</a>
        <a href="" class="tivi"><i class="ic-tivi"></i>Review Lào Cai</a>
        <a href="" class="mic"><i class="ic-mic"></i>Podcast</a>
        <a href="" class="img"><i class="ic-img"></i>Photo</a>
        <a href="" class="back"><i class="ic-back1"></i>Mạng xã hội</a>
        <div class="social">
            <a href="" class="fb">fb</a>
            <a href="" class="yt">yt</a>
            <a href="" class="zl">zl</a>
            <a href="" class="tw">tw</a>
        </div>
    </div>
</footer>