<div class="local-news">
    <h3 class="box-heading">
        <a href="" class="title">địa phương</a>
    </h3>
    <div class="box-content">
        <div class="district">

            <a class="active" href="https://beta.baolaocai.vn/dia-phuong/thanh-pho-lao-cai/1.html"
                title="Thành phố Lào Cai">
                <i class="ic-location"></i>Thành phố Lào Cai
            </a>

            <a class="" href="https://beta.baolaocai.vn/dia-phuong/thi-xa-sa-pa/2.html" title="Thị xã Sa Pa">
                <i class="ic-location"></i>Thị xã Sa Pa
            </a>

            <a class="" href="https://beta.baolaocai.vn/dia-phuong/bat-xat/3.html" title="Bát Xát">
                <i class="ic-location"></i>Bát Xát
            </a>

            <a class="" href="https://beta.baolaocai.vn/dia-phuong/bao-yen/4.html" title="Bảo Yên">
                <i class="ic-location"></i>Bảo Yên
            </a>

            <a class="" href="https://beta.baolaocai.vn/dia-phuong/bao-thang/5.html" title="Bảo Thắng">
                <i class="ic-location"></i>Bảo Thắng
            </a>

            <a class="" href="https://beta.baolaocai.vn/dia-phuong/si-ma-cai/6.html" title="Si Ma Cai">
                <i class="ic-location"></i>Si Ma Cai
            </a>

            <a class="" href="https://beta.baolaocai.vn/dia-phuong/van-ban/7.html" title="Văn Bàn">
                <i class="ic-location"></i>Văn Bàn
            </a>

            <a class="" href="https://beta.baolaocai.vn/dia-phuong/muong-khuong/8.html" title="Mường Khương">
                <i class="ic-location"></i>Mường Khương
            </a>

            <a class="" href="https://beta.baolaocai.vn/dia-phuong/bac-ha/9.html" title="Bắc Hà">
                <i class="ic-location"></i>Bắc Hà
            </a>
        </div>
        @@for (var i = 0; i < 4; i++) { <article class="story">
            <figure class="story__thumb">
                <a href="" title=""> <img src="https://source.unsplash.com/featured/120x65?sig=1" alt="120x65 (~16:9)"></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Official Gazette issues Nos 09-12/2022, available on April 28, 2022
                </a>
            </h5>
            </article>
            }
    </div>
</div>