<div class="box-default">
    <h3 class="box-heading">
        <a href="" class="heading"> <i class="ic-layers"></i> Tiêu đề box default</a>
    </h3>
    <div class="box-content">
        <article class="story">
            <figure class="story__thumb">
                <a href="" title=""> <img src="https://source.unsplash.com/featured/300x200?sig=1" alt="300x200 (3x2)"></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Nghệ An xây dựng các mô hình khu dân cư, tổ tự quản an toàn giao thông
                </a>
            </h5>
        </article>
        <div class="story-wrapper">
            <article class="story">
                <h5 class="story__heading">
                    <a href="#">
                        Những điểm đến không thể bỏ qua khi du lịch tắm biển Cửa Lò
                    </a>
                </h5>
            </article>
            <article class="story">
                <h5 class="story__heading">
                    <a href="#">
                        Đỗ Hùng Dũng: Tuyển Việt Nam sẽ thắng Oman; CLB Hà Nội chính thức nói lời chia tay Quang Hải
                    </a>
                </h5>
            </article>
            <article class="story">
                <h5 class="story__heading">
                    <a href="#">
                        Nga-Ukraine: Tương lai cho một thỏa thuận hòa bình nằm trong tay Tổng thống Putin
                    </a>
                </h5>
            </article>
        </div>
    </div>
</div>