<div class="multi-pack">
    <h3 class="box-heading">
        <a href="" class="title">tập tiếp theo</a>
    </h3>
    <div class="box-content">
        @@for (var i = 0; i < 3; i++) {
            <article class="story">
                <figure class="story__thumb">
                    <a href="" title=""> <img src="https://source.unsplash.com/featured/200x200?sig=1"
                            alt="200x200 (1x1)"></a>
                </figure>
                <h5 class="story__heading">
                    <a href="#">
                        Official Gazette issues Nos 09-12/2022, available on April 28, 2022
                    </a>
                </h5>
            </article>
        }
    </div>
</div>