<div class="audio">
    <div class="left">
        <button class="play-button"> <span><i class="ic-audio-pause"></i></span></button>
        <span class="mute-wrap">
            <button class="mute-button"><i class="ic-audio-volume"></i></button>
            <div class="volume-slider" id="volume-slider">
                <div class="volume-slider-handle"></div>
            </div>
        </span>
        <div class="time-display">
            <span class="current">0:00</span>
            <span class="separator"> / </span>
            <span class="duration">0:00</span>
            <span class="live"></span> </div>
        <div class="progress-bar" id="progress-bar">
            <span class="bg"></span>
            <div class="wrap-recent">
                <span class="fill-recent">
                    <span class="current_time">0:00</span>
                </span>
            </div>
        </div>
    </div>
    <div class="right">
        <button class="select-voice">
            <i class="ic-audio-microphone"></i>
            <span>Nam miền Bắc</span>
        </button>
        <div class="voice-board">
            <ul>
                <li class="is-active">
                    <div class="voice-name" data-display-name="Nam miền Bắc" data-voice-id="1">
                        <i class="ic-audio-waveform"></i>
                        <span>Nam miền Bắc</span>
                    </div>
                </li>
                <li>
                    <div class="voice-name" data-display-name="Nữ miền Bắc" data-voice-id="2">
                        <i class="ic-audio-waveform"></i>
                        <span>Nữ miền Bắc</span>
                    </div>
                </li>
                <li>
                    <div class="voice-name" data-display-name="Nữ miền Nam" data-voice-id="3">
                        <i class="ic-audio-waveform"></i>
                        <span>Nữ miền Nam</span>
                    </div>
                </li>
                <li>
                    <div class="voice-name" data-display-name="Nam miền Nam" data-voice-id="4">
                        <i class="ic-audio-waveform"></i>
                        <span>Nam miền Nam</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>