// // SF Compact Rounded : bold, regular, semibold
// @font-face {
//     font-family: "SF";
//     src: url("../fonts/SF/SanFranciscoText-Semibold.otf");
//     font-weight: 600;
// }

// @font-face {
//     font-family: "SF";
//     src: url("../fonts/SF/SanFranciscoText-Medium.otf");
//     font-weight: 500;
// }

// @font-face {
//     font-family: "SF";
//     src: url("../fonts/SF/SanFranciscoText-Regular.otf");
//     font-weight: 400;
// }

// poppinsz : bold, regular, semibold
@font-face {
    font-family: "PoppinsZ";
    src: url("../fonts/PoppinsZ/PoppinsZSemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "PoppinsZ";
    src: url("../fonts/PoppinsZ/PoppinsZMedium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "PoppinsZ";
    src: url("../fonts/PoppinsZ/PoppinsZ.ttf");
    font-weight: 400;
}


// Oswald : regular
@font-face {
    font-family: "Oswald";
    src: url("../fonts/Oswald/Oswald-Regular.ttf");
    font-weight: 400;
}