<div class="multimedia">
    <div class="container">
        <h3 class="box-heading">
            <a href="" class="title">Tin mới nhất</a>
        </h3>
        <div class="box-content">
            @@for (var i = 0; i < 3; i++) { <div class="item"> <!-- INFO : quynhttn review : thừa thẻ, thêm bài viết => vỡ layout -->
                <div class="center"> <!-- INFO : quynhttn review : thừa thẻ -->
                    @@for (var i = 0; i < 1; i++) { <article class="story">
                        <figure class="story__thumb">
                            <a href="" title=""> <img src="https://source.unsplash.com/featured/370x248?sig=1"
                                    alt="370x248 (~3:2)"></a>
                        </figure>
                        <div class="story__item"> <!-- INFO : quynhttn review : thừa thẻ -->

                            <h5 class="story__heading">
                                <a href="#">
                                    Chủ tịch HĐND TPHCM Nguyễn Thị Lệ: Xây dựng quy trình phối hợp thúc đẩy tiến độ dự
                                    án đầu tư công
                                </a>
                            </h5>
                            <div class="story__meta">
                                <time class="time" datetime="2023-03-22T19:58:40+0700"> 1 giờ trước </time>
                                <div class="vertical-line"></div>
                                <a href="#" class="title-cate">VIETNAMPLUS</a>
                            </div>
                        </div>
                        </article>
                        }
                </div>
        </div>
        }
    </div>
</div>
</div>