<div class="box-weather">
    <h3 class="box-heading">
        <a href="" class="title">tiện ích</a>
    </h3>
    <div class="box-content">
        <div>

            <div class="col">
                <div class="left">
                    <img src="https://source.unsplash.com/featured/60x60?sig=1" class="ic-weather" alt="">
                    <div class="local">
                        <div class="item">
                            <span></span>
                            <i class="ic-down"></i>
                        </div>
                        <div class="wrapper">
                            <div class="item">Thừa Thiên Huế </div>
                            <div class="item">Tp Hồ Chí Minh </div>
                            <div class="item">SaPa </div>
                            <div class="item">Bảo Thắng </div>
                        </div>
                    </div>
                    <p class="text">Mưa rải rác</p>
                </div>
                <div class="right">
                    <p class="temperature"> 15 <sup>°C</sup></p>
                    <div class="col">
                        <p><i class="ic-up"></i>22<sup>°</sup></p>
                        <p><i class="ic-down2"></i>12<sup>°</sup></p>
                    </div>
                    <p><i class="ic-droplet"></i>75%</p>
                    <p><i class="ic-wind"></i>2km/h</p>
                </div>
            </div>
            <div class="col">
                @@for (var i = 0; i < 5; i++) { <div class="item">
                    <p class="text">t6</p>
                    <img class="ic-weather" src="https://source.unsplash.com/featured/30x30?sig=1" alt="">
                    <span class="temperature">
                        12 <sup>°</sup> -
                        23 <sup>°</sup>
                    </span>
            </div>
            }
        </div>
    </div>
    <div class="exchange-rate">
        <a href="" class="title">tỷ giá</a>
        <table>
            <thead>
                <tr>
                    <td>Mã NT</td>
                    <td>Mua TM</td>
                    <td>Mua CK</td>
                    <td>Bán</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>AUD</td>
                    <td>15.276.19</td>
                    <td>15.430.5</td>
                    <td>15.927.54</td>
                </tr>
                <tr>
                    <td>USD</td>
                    <td>23.310</td>
                    <td>23.340</td>
                    <td>23.680</td>
                </tr>
                <tr>
                    <td>AUD</td>
                    <td>15.276.19</td>
                    <td>15.430.5</td>
                    <td>15.927.54</td>
                </tr>
                <tr>
                    <td>USD</td>
                    <td>23.310</td>
                    <td>23.340</td>
                    <td>23.680</td>
                </tr>
                <tr>
                    <td>AUD</td>
                    <td>15.276.19</td>
                    <td>15.430.5</td>
                    <td>15.927.54</td>
                </tr>
                <tr>
                    <td>USD</td>
                    <td>23.310</td>
                    <td>23.340</td>
                    <td>23.680</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
</div>