<div class="article__body zce-content-body">
    @@include('./content-body/_typo.html')
    @@include('./content-body/_ul-ol.html')
    @@include('./content-body/_table-no-class.html')
    @@include('./../longform/longform.html')
    @@include('./content-body/_picture-video.html')
    @@include('./content-body/_quote.html')
    @@include('./content-body/_notebox.html')
    @@include('./content-body/_poll.html')
    @@include('./content-body/_old-style.html')
    @@include('./content-body/_article-relate.html')
    @@include('./content-body/_relate-topic.html')
    <!-- live. interview -->
    @@include('../interview/interview.html')
    @@include('../live/live.html')
    <!-- end -->
    @@include('./content-body/_related-news.html')
    <div class="article__source">
        <div class="wrap-source">
            <div class="avatar">
                <img src="https://source.unsplash.com/featured/100x100?sig=1" alt="100x100 (~1x1)">
            </div>
            <div class="info-author">
                <a href="" class="name">Nguồn Công Thương</a>
                <a href="" class="text">
                    https://congthuong.vn/nhung-giam-doc-doanh-nghiep-nao-o-nghe-an-bi-tam-hoan-xuat-canh-245331.html</a>
            </div>
        </div>
        <div class="wrap-source">
            <div class="avatar">
            </div>
            <div class="info-author">
                <a href="" class="name">Nguồn Công Thương</a>
            </div>
        </div>
    </div>
    @@include('./content-body/_author.html')

</div>
@@include('./content-body/_tags.html')
<div class="article__meta">
    <div class="row">
      <div class="fb-like fb_iframe_widget fb_iframe_widget_fluid" data-href="https://beta.baolaocai.vn/post-363733.html" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=0&amp;href=https%3A%2F%2Fbeta.baolaocai.vn%2Fpost-363733.html&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=true&amp;size=small&amp;width=">
        <span style="vertical-align: bottom; width: 150px; height: 28px;">
          <iframe name="f227d3babb3551" width="1000px" height="1000px" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v8.0/plugins/like.php?action=like&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Dffb0b539c5a5f4%26domain%3Dbeta.baolaocai.vn%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fbeta.baolaocai.vn%252Ff38143fcbde4c74%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fbeta.baolaocai.vn%2Fpost-363733.html&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=true&amp;size=small&amp;width=" style="border: none; visibility: visible; width: 150px; height: 28px;" class=""></iframe>
        </span>
      </div>
      <div class="social">
        <a href="" class="zl">zl</a>
        <a href="" class="tw">tw</a>
        <a href="" class="print">tw</a>
        <a href="" class="mail">tw</a>
      </div>
      <a class="gg-news" href="#">
        <span>Theo dõi Báo Nghệ An trên</span>
        <img src="../styles/img/gg-news.png" alt="">
      </a>
    </div>
  </div>
@@include('../comment/comment.html')