<div class="hot-topics">
    <div class="box-heading">
        <a href="">Chủ đề nổi bật</a>
    </div>
    <ul class="box-content">
        <li>
            <a href="#">
                Bảo hiểm xã hội
            </a>
            <span>
                1255 tin bài
            </span>
        </li>
        <li>
            <a href="#">
                Bảo hiểm xã hội
            </a>
            <span>
                1255 tin bài
            </span>
        </li>
        <li>
            <a href="#">
                Bảo hiểm xã hội
            </a>
            <span>
                1255 tin bài
            </span>
        </li>
        <li>
            <a href="#">
                Bảo hiểm xã hội
            </a>
            <span>
                1255 tin bài
            </span>
        </li>
        <li>
            <a href="#">
                Bảo hiểm xã hội
            </a>
            <span>
                1255 tin bài
            </span>
        </li>
        <li>
            <a href="#">
                Bảo hiểm xã hội
            </a>
            <span>
                1255 tin bài
            </span>
        </li>
    </ul>
</div>