<header class="site-header">
    <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <h1 class="region-logo">
        <a href="index.html" class="logo">Nghệ An</a>
    </h1>
    <div class="wrap-search">
        <i class="ic-search"></i>
    </div>
</header>

<div class="navigation">
    <ul class="menu">
        <li class="">
            <a href="" title="Thời sự">Thời sự
                <i class="ic-down1"></i>
            </a>
            <ul class="sub-menu">
                <li><a href="">Truyền hình</a></li>
                <li><a href="">Podcast</a></li>
                <li><a href="">Góc ảnh</a></li>
            </ul>
        </li>
        <li class="">
            <a href="" title="Thời sự">Thời sự
                <i class="ic-down1"></i>
            </a>
            <ul class="sub-menu">
                <li><a href="">Truyền hình</a></li>
                <li><a href="">Podcast</a></li>
                <li><a href="">Góc ảnh</a></li>
            </ul>
        </li>
        <li class="">
            <a href="" title="Thời sự">Thời sự
                <i class="ic-down1"></i>
            </a>
            <ul class="sub-menu">
                <li><a href="">Truyền hình</a></li>
                <li><a href="">Podcast</a></li>
                <li><a href="">Góc ảnh</a></li>
            </ul>
        </li>
        <li class=""> <a href="" title="Kinh tế">Kinh tế</a> </li>
        <li class=""> <a href="" title="Xã hội">Xã hội</a> </li>
        <li class=""> <a href="" title="Giáo dục">Giáo dục</a> </li>
    </ul>
    <div class="mask">mask</div>
</div>

<div class="search-wrapper">
    <div class="region-search">
        <input type="text" class="search" placeholder="Tìm kiếm...">
        <i class="ic-search"></i>
    </div>
    <div class="mask">mask</div>
</div>