<div class="suggest">
    <div class="wrap-heading">
        <h3 class="box-heading">
            <a href="" class="title">các tin khác</a>
        </h3>
    </div>
    <div class="box-content">
        @@for (var i = 0; i < 3; i++) { <article class="story">
            <figure class="story__thumb">
                <a href="" title=""> <img src="https://source.unsplash.com/featured/260x173?sig=1"
                        alt="260x173 (~16:9)"></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Official Gazette issues Nos 09-12/2022, available on April 28, 2022
                </a>
            </h5>
            <div class="story__meta">
                <time class="time" datetime="2023-03-22T19:58:40+0700"> 1 giờ trước </time> 
                <div class="vertical-line"></div>
                <a href="https://beta.baolaocai.vn/e-magazine/" class="title-cate" title="VIETNAMPLUS">VIETNAMPLUS</a>
            </div>
            </article>
            }
        @@for (var i = 0; i < 3; i++) { <article class="story">
            <figure class="story__thumb">
                <a href="" title=""> <img src="https://source.unsplash.com/featured/260x173?sig=1"
                        alt="260x173 (~16:9)"></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Official Gazette issues Nos 09-12/2022, available on April 28, 2022
                </a>
            </h5>
            <div class="story__meta">
                <time class="time" datetime="2023-03-22T19:58:40+0700"> 1 giờ trước </time> 
                <div class="vertical-line"></div>
                <a href="https://beta.baolaocai.vn/e-magazine/" class="title-cate" title="VIETNAMPLUS">VIETNAMPLUS</a>
            </div>
            </article>
            }
        @@for (var i = 0; i < 3; i++) { <article class="story">
            <figure class="story__thumb">
                <a href="" title=""> <img src="https://source.unsplash.com/featured/260x173?sig=1"
                        alt="260x173 (~16:9)"></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Official Gazette issues Nos 09-12/2022, available on April 28, 2022
                </a>
            </h5>
            <div class="story__meta">
                <time class="time" datetime="2023-03-22T19:58:40+0700"> 1 giờ trước </time> 
                <div class="vertical-line"></div>
                <a href="https://beta.baolaocai.vn/e-magazine/" class="title-cate" title="VIETNAMPLUS">VIETNAMPLUS</a>
            </div>
            </article>
            }
    </div>
</div>