<div class="abf-homepage">
    <div class="left">
        @@for (var i = 0; i < 2; i++) { 
            <article class="story">
                <figure class="story__thumb">
                    <a href="" title=""> <img src="https://source.unsplash.com/featured/230x130?sig=1" alt="230x130 (~16:9)"></a>
                </figure>
                <h5 class="story__heading">
                    <a href="#">
                        Khen thưởng kịp thời để thúc đẩy thi đua
                    </a>
                </h5>
            </article>
            }
    </div>
    <div class="center">
        <article class="story">
            <figure class="story__thumb">
                <a href="" title=""> <img src="https://source.unsplash.com/featured/580x387?sig=1"
                        alt="580x387"></a>
            </figure>
            <div class="story__content">
                <h5 class="story__heading">
                    <a href="#">
                        Tin nóng: Cựu Phó Giám đốc Công an TP Hà Nội bị cáo buộc môi giới “chạy án”
                    </a>
                </h5>
                <div class="story__meta">
                    <time class="time" datetime="2023-03-22T19:58:40+0700"> 1 giờ trước </time>
                    <div class="vertical-line"></div>
                    <a href="#" class="title-cate">VIETNAMPLUS</a>
                </div>
            </div>
        </article>
    </div>
    <div class="right">
        @@include('../hot-topics/hot-topics.html')
    </div>
</div>