<div class="hot-news ">
    <h3 class="box-heading">
        <a href="" class="title">Tin đọc nhiều </a>
    </h3>
    <div class="box-content">
        <article class="story">
            <figure class="story__thumb">
                <a href="" title=""> <img src="https://source.unsplash.com/featured/330x185?sig=1"
                        alt="330x185 (~16:9)"></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Áo vàng Petr Rikunov phản đòn tuyệt nghệ lần thứ 2 thắng chặng
                </a>
            </h5>
            <div class="story__meta">
                <time class="time" datetime="2023-03-22T19:58:40+0700"> 1 giờ trước </time>
                <div class="vertical-line"></div>
                <a href="https://beta.baolaocai.vn/e-magazine/" class="title-cate" title="VIETNAMPLUS">VIETNAMPLUS</a>
            </div>
        </article>
        @@for (var i = 0; i < 4; i++) { <article class="story">
            <h5 class="story__heading">
                <a href="#">
                    Xét tuyển đại học 2023: Lưu ý thứ tự các nguyện vọng khi đăng ký
                </a>
            </h5>
            <div class="story__meta">
                <time class="time" datetime="2023-03-22T19:58:40+0700"> 1 giờ trước </time>
                <div class="vertical-line"></div>
                <a href="https://beta.baolaocai.vn/e-magazine/" class="title-cate" title="VIETNAMPLUS">VIETNAMPLUS</a>
            </div>
            </article>
            }
    </div>
</div>