<h2>
    <center> ===== Live =====</center>
</h2>
<div class="live-zone">
    <div class="sticky-notification">
        <div class="heading">
            Tuyển nữ Việt Nam và trận thắng nghẹt thở Myanmar
        </div>
        <div class="content">
            <p>Trước trận đấu có thể quyết định vé dự vòng play-off Olympic giữa tuyển nữ Việt Nam và Myanmar lúc 17h,
                Zing.vn điểm lại màn so tài gay cấn nhất giữa 2 đội trong những năm qua.</p>
            <table class="picture max-width">
                <tbody>
                    <tr>
                        <td class="img"><img src="https://source.unsplash.com/featured/1920x768?sig=1" alt="1700x394">
                        </td>
                    </tr>
                    <tr>
                        <td class="caption">max-with</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="wrap-item">
        <div class="item">
            <div class="meta">
                <time> 19:00</time>
                <i class="ic-img-live-red"></i>
            </div>
            <div class="wrap-content">
                <div class="heading">
                    Tuyển nữ Việt Nam và trận thắng nghẹt thở Myanmar
                </div>
                <div class="content">
                    
<strong>support thẻ figure</strong>
<figure class="outset-right">
    <img src="https://source.unsplash.com/featured/700x394?sig=1" alt="">
    <figcaption> figure outset-right</figcaption>
</figure>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus exercitationem est culpa maxime quam doloribus
    repudiandae ea earum magnam et aperiam commodi eum assumenda, excepturi nulla ipsa ipsum provident eius sequi, illum
    dignissimos tenetur. Assumenda, hic ad dicta inventore eos vero soluta neque voluptates at deserunt molestiae
    illo maxime. Perspiciatis quidem eos quaerat dolor accusantium quia illum, ratione iste, ex repellendus sit iusto
    excepturi dicta tempore laborum voluptates non ipsum? Deleniti dolores est iste expedita sequi quam, quos quas,
    ipsam facilis voluptatum esse non qui aliquid ut atque voluptatibus molestias aspernatur. Iure incidunt rem illo ad
    maiores nulla at eos tenetur, repudiandae amet suscipit perferendis magni quis?</p>
<figure class="outset-left">
    <img src="https://source.unsplash.com/featured/700x394?sig=1" alt="">
    <figcaption> figure outset-left</figcaption>
</figure>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ut hic, pariatur eaque libero amet tempore iure
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus exercitationem est culpa maxime quam doloribus
        repudiandae ea earum magnam et aperiam commodi eum assumenda, excepturi nulla ipsa ipsum provident eius sequi, illum
        dignissimos tenetur. Assumenda, hic ad dicta inventore eos vero soluta neque voluptates at deserunt molestiae
        illo maxime. Perspiciatis quidem eos quaerat dolor accusantium quia illum, ratione iste, ex repellendus sit iusto
        excepturi dicta tempore laborum voluptates non ipsum? Deleniti dolores est iste expedita sequi quam, quos quas,
        ipsam facilis voluptatum esse non qui aliquid ut atque voluptatibus molestias aspernatur. Iure incidunt rem illo ad
        maiores nulla at eos tenetur, repudiandae amet suscipit perferendis magni quis?</p>
<figure class="align-left">
    <img src="https://source.unsplash.com/featured/700x394?sig=1" alt="">
    <figcaption> figure align-left</figcaption>
</figure>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus exercitationem est culpa maxime quam doloribus
    repudiandae ea earum magnam et aperiam commodi eum assumenda, excepturi nulla ipsa ipsum provident eius sequi, illum
    dignissimos tenetur. Assumenda, hic ad dicta inventore eos vero soluta neque voluptates at deserunt molestiae
    illo maxime. Perspiciatis quidem eos quaerat dolor accusantium quia illum, ratione iste, ex repellendus sit iusto
    excepturi dicta tempore laborum voluptates non ipsum? Deleniti dolores est iste expedita sequi quam, quos quas,
    ipsam facilis voluptatum esse non qui aliquid ut atque voluptatibus molestias aspernatur. Iure incidunt rem illo ad
    maiores nulla at eos tenetur, repudiandae amet suscipit perferendis magni quis?</p>
<figure class="align-right">
    <img src="https://source.unsplash.com/featured/700x394?sig=1" alt="">
    <figcaption> figure align-right</figcaption>
</figure>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus exercitationem est culpa maxime quam doloribus
    repudiandae ea earum magnam et aperiam commodi eum assumenda, excepturi nulla ipsa ipsum provident eius sequi, illum
    dignissimos tenetur. Assumenda, hic ad dicta inventore eos vero soluta neque voluptates at deserunt molestiae
    illo maxime. Perspiciatis quidem eos quaerat dolor accusantium quia illum, ratione iste, ex repellendus sit iusto
    excepturi dicta tempore laborum voluptates non ipsum? Deleniti dolores est iste expedita sequi quam, quos quas,
    ipsam facilis voluptatum esse non qui aliquid ut atque voluptatibus molestias aspernatur. Iure incidunt rem illo ad
    maiores nulla at eos tenetur, repudiandae amet suscipit perferendis magni quis?</p>
<figure align="center">
    <img src="https://source.unsplash.com/featured/700x394?sig=1" alt="">
    <figcaption> figure align="center"</figcaption>
</figure>
<figure align="right">
    <img src="https://source.unsplash.com/featured/700x394?sig=1" alt="">
    <figcaption> figure align="right"</figcaption>
</figure>
<figure align="left">
    <img src="https://source.unsplash.com/featured/700x394?sig=1" alt="">
    <figcaption> figure align="left"</figcaption>
</figure>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus exercitationem est culpa maxime quam doloribus
    repudiandae ea earum magnam et aperiam commodi eum assumenda, excepturi nulla ipsa ipsum provident eius sequi, illum
    dignissimos tenetur. Assumenda, hic ad dicta inventore eos vero soluta neque voluptates at deserunt molestiae
    illo maxime. Perspiciatis quidem eos quaerat dolor accusantium quia illum, ratione iste, ex repellendus sit iusto
    excepturi dicta tempore laborum voluptates non ipsum? Deleniti dolores est iste expedita sequi quam, quos quas,
    ipsam facilis voluptatum esse non qui aliquid ut atque voluptatibus molestias aspernatur. Iure incidunt rem illo ad
    maiores nulla at eos tenetur, repudiandae amet suscipit perferendis magni quis?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus exercitationem est culpa maxime quam doloribus
        repudiandae ea earum magnam et aperiam commodi eum assumenda, excepturi nulla ipsa ipsum provident eius sequi, illum
        dignissimos tenetur. Assumenda, hic ad dicta inventore eos vero soluta neque voluptates at deserunt molestiae
        illo maxime. Perspiciatis quidem eos quaerat dolor accusantium quia illum, ratione iste, ex repellendus sit iusto
        excepturi dicta tempore laborum voluptates non ipsum? Deleniti dolores est iste expedita sequi quam, quos quas,
        ipsam facilis voluptatum esse non qui aliquid ut atque voluptatibus molestias aspernatur. Iure incidunt rem illo ad
        maiores nulla at eos tenetur, repudiandae amet suscipit perferendis magni quis?</p>
    
                    <table class="picture full-width">
                        <tbody>
                            <tr>
                                <td class="img"><img src="https://source.unsplash.com/featured/1024x400?sig=1" alt="">
                                </td>
                            </tr>
                            <tr>
                                <td class="caption">full-width</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="picture max-width">
                        <tbody>
                            <tr>
                                <td class="img"><img src="https://source.unsplash.com/featured/1024x400?sig=1" alt="">
                                </td>
                            </tr>
                            <tr>
                                <td class="caption">max-width</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="outset-left">
                        <tbody>
                            <tr>
                                <td>
                                    <img src="https://source.unsplash.com/featured/700x394?sig=2" alt="">
                                </td>
                            </tr>
                            <tr>
                                <td class="caption">
                                    <p>outset-left</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="outset-right">
                        <tbody>
                            <tr>
                                <td>

                                    <img src="https://source.unsplash.com/featured/700x394?sig=2" alt="">
                                </td>
                            </tr>
                            <tr>
                                <td class="caption">
                                    <p>outset-right</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="align-left">
                        <tbody>
                            <tr>
                                <td>

                                    <img src="https://source.unsplash.com/featured/700x394?sig=3" alt="">
                                </td>
                            </tr>
                            <tr>
                                <td class="caption">
                                    <p>align-left</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="align-right">
                        <tbody>
                            <tr>
                                <td>

                                    <img src="https://source.unsplash.com/featured/700x394?sig=4" alt="">
                                </td>
                            </tr>
                            <tr>
                                <td class="caption">
                                    <p>align-right</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table align="left">
                        <tbody>
                            <tr>
                                <td>

                                    <img src="https://source.unsplash.com/featured/700x394?sig=5" alt="">
                                </td>
                            </tr>
                            <tr>
                                <td class="caption">
                                    <p>align="left"</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table align="right">
                        <tbody>
                            <tr>
                                <td>

                                    <img src="https://source.unsplash.com/featured/700x394?sig=6" alt="">
                                </td>
                            </tr>
                            <tr>
                                <td class="caption">
                                    <p>align="right"</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table align="center">
                        <tbody>
                            <tr>
                                <td>

                                    <img src="https://source.unsplash.com/featured/700x394?sig=7" alt="">
                                </td>
                            </tr>
                            <tr>
                                <td class="caption">
                                    <p>align="center"</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="meta">
                <time> 19:00</time>
                <i class="ic-img-live-red"></i>
            </div>
            <div class="wrap-content">
                <div class="heading">
                    Tuyển nữ Việt Nam và trận thắng nghẹt thở Myanmar
                </div>
                <div class="content">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt similique earum nihil hic
                        neque ea distinctio! Veritatis quia placeat obcaecati nesciunt amet adipisci nam distinctio
                        dolor illum eligendi? Et, adipisci!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="list-icon">
        <a href="" class="item">
            <i class="ic-report"></i>
            <span class="text">Report/text</span>
        </a>
        <a href="" class="item">
            <i class="ic-mobile"></i>
            <span class="text">Mobile</span>
        </a>
        <a href="" class="item">
            <i class="ic-qoute"></i>
            <span class="text">Quote</span>
        </a>
        <a href="" class="item">
            <i class="ic-facebook"></i>
            <span class="text">Facebook</span>
        </a>
        <a href="" class="item">
            <i class="ic-twitter"></i>
            <span class="text">Twitter</span>
        </a>
        <a href="" class="item">
            <i class="ic-mail"></i>
            <span class="text">Mail</span>
        </a>
        <a href="" class="item">
            <i class="ic-video-live"></i>
            <span class="text">Video</span>
        </a>
        <a href="" class="item">
            <i class="ic-photo"></i>
            <span class="text">Photo</span>
        </a>
        <a href="" class="item">
            <i class="ic-goal"></i>
            <span class="text">Goal</span>
        </a>
        <a href="" class="item">
            <i class="ic-conner"></i>
            <span class="text">Conner</span>
        </a>
        <a href="" class="item">
            <i class="ic-yellow"></i>
            <span class="text">Yellow</span>
        </a>
        <a href="" class="item">
            <i class="ic-red"></i>
            <span class="text">red</span>
        </a>
        <a href="" class="item">
            <i class="ic-substitute"></i>
            <span class="text">substitute</span>
        </a>
        <a href="" class="item">
            <i class="ic-start"></i>
            <span class="text">Start/match</span>
        </a>
        <a href="" class="item">
            <i class="ic-tatic"></i>
            <span class="text">Tatic</span>
        </a>
        <a href="" class="item">
            <i class="ic-stadium"></i>
            <span class="text">stadium</span>
        </a>
        <a href="" class="item">
            <i class="ic-time-live"></i>
            <span class="text">time</span>
        </a>
        <a href="" class="item">
            <i class="ic-fault"></i>
            <span class="text">fault</span>
        </a>
        <a href="" class="item">
            <i class="ic-jnjure"></i>
            <span class="text">jnjure</span>
        </a>
        <a href="" class="item">
            <i class="ic-penalty"></i>
            <span class="text">penalty</span>
        </a>
    </div> -->
</div>