.detail,
.longform,
.podcast {
    .breadcrumbs {
        display: flex;
        align-items: flex-end;
        margin-bottom: 15px !important;
    
        .main-2 {
            padding-left: 40px;
            font-weight: $font-weight-normal;
            font-family: $font-family-branch;
            color: $text;
            font-size: 20px;
            line-height: 1.5;
            position: relative;
    
            &::before {
                position: absolute;
                content: "";
                width: 1px;
                transform: skew(-10deg);
                background: #ced4da;
                height: 19px;
                left: 20px;
                top: 6px;
            }
    
            >* {
    
                &.active,
                &:hover {
                    color: $secondary;
                }
            }
        }
    
    
        .main-1 {
            display: flex;
            position: relative;
            padding-left: 14px;
    
            >* {
                font-family: $font-family-branch;
                font-weight: $font-weight-bold;
                font-size: 22px;
                text-transform: uppercase;
            }
    
            &::before {
                content: "";
                position: absolute;
                width: 4px;
                height: 32px;
                align-self: baseline;
                background-color: $primary;
                left: 0;
            }
        }
    
    }
}


.breadcrumbs {
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px !important;

    .main-2 {
        padding-left: 40px;
        font-weight: $font-weight-normal;
        font-family: $font-family-branch;
        color: $text;
        font-size: 20px;
        line-height: 1.5;
        position: relative;

        &::before {
            position: absolute;
            content: "";
            width: 1px;
            transform: skew(-10deg);
            background: #ced4da;
            height: 19px;
            left: 20px;
            top: 6px;
        }

        >* {

            &.active,
            &:hover {
                color: $secondary;
            }
        }
    }


    .main-1 {
        display: flex;
        position: relative;
        padding-left: 14px;

        >* {
            font-family: $font-family-branch;
            font-weight: $font-weight-bold;
            font-size: 22px;
            text-transform: uppercase;
        }

        &::before {
            content: "";
            position: absolute;
            width: 4px;
            height: 32px;
            align-self: baseline;
            background-color: $primary;
            left: 0;
        }
    }

}