<div class="timeline">
    <div class="box-content">
        @@for ( var i=0; i < 15; i++) { <article class="story">
            <figure class="story__thumb">
                <a href="#" title=""> <img src="https://source.unsplash.com/featured/300x170?sig=1"
                        alt="300x170 (~16:9)"></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    10 điều nên thử khi du lịch Đài Loan vào mùa đông
                    <i class="ic-type-img"></i>
                </a>
            </h5>
            <div class="story__meta">
                <time class="time" datetime="2023-03-22T19:58:40+0700"> 22/03/2023 19:58 </time>
            </div>
            </article>
            }
    </div>
</div>