<div class="abf-cate">
    <div class="left">
        <article class="story">
            <figure class="story__thumb">
                <a href="" title=""> <img src="https://source.unsplash.com/featured/570x320?sig=1"
                        alt="570x320 (~16:9)"></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Đà Nẵng kỷ luật 5 tổ chức Đảng và 4 cá nhân liên quan vụ Việt Á
                </a>
            </h5>
            <div class="story__meta">
                <time class="time" datetime="2023-03-22T19:58:40+0700"> 22/03/2023 19:58 </time>
              </div>
            <div class="story__summary">
                Bộ GD&amp;ĐT vừa thông tin dự kiến những mốc thời gian quan trọng trong công tác tuyển sinh đại học, cao
                đẳng năm 2023.
            </div>
        </article>
    </div>
    <div class="center">
        @@for (var i = 0; i < 2; i++) {
            <article class="story">
                <figure class="story__thumb">
                    <a href="" title=""> <img src="https://source.unsplash.com/featured/270x150?sig=1" alt="270x150 (~16:9)"></a>
                </figure>
                <h5 class="story__heading">
                    <a href="#">
                        Đề xuất giữ thuế bảo vệ môi trường ở mức sàn với xăng, dầu trong năm 2023
                    </a>
                </h5>
                <div class="story__meta">
                    <time class="time" datetime="2023-03-22T19:58:40+0700"> 22/03/2023 19:58 </time>
                  </div>
            </article>
        }
    </div>
    <div class="right">
        @@for (var i = 0; i < 4; i++) {
            <article class="story">
                <figure class="story__thumb">
                    <a href="" title=""> <img src="https://source.unsplash.com/featured/120x65?sig=1" alt="120x65 (~16:9)"></a>
                </figure>
                <h5 class="story__heading">
                    <a href="#">
                        Trang trọng Lễ xin lửa, rước đuốc Đại hội thể thao toàn quốc 2022
                    </a>
                </h5>
                <div class="story__meta">
                    <time class="time" datetime="2023-03-22T19:58:40+0700"> 22/03/2023 19:58 </time>
                  </div>
            </article>
        }
    </div>
</div>