<header class="site-header ">
        <div class="top-header">
                <div class="container">
                        <div class="left">
                                <time>Thứ sáu, 30/06/2023</time> 
                                <a href="">Thông tin tòa soạn</a>
                        </div>
                        <div class="right">
                                <a href=""><i class="ic-smartphone"></i>Đường dây nóng: 0987.654.321</a>
                                <a href=""><i class="ic-mail"></i> toasoan@giaoduc.net.vn</a>
                        </div>
                </div>
        </div>
        <div class="container">
                <div class="content-header">
                        <div class="social">
                                <a href="#" class="zl">
                                        zl
                                </a>
                                <a href="#" class="fb">
                                        fb
                                </a>
                                <a href="#" class="tw">
                                        tw
                                </a>
                        </div>
                        <a href="index.html" class="logo">logo</a>
                        <div class="box-icon">
                                <a href="#" class="icon-search">search</a>
                                <a href="#" class="icon-user">user</a>
                                <a href="#" class="icon-menu">menu</a>
                        </div>
                </div>
                <div class="navigation sticky">
                        <ul class="menu">
                                <li><a href="" class="active">Trang chủ</a></li>
                                <li><a href="">Giáo dục 24h</a></li>
                                <li><a href="">Tiêu điểm</a></li>
                                <li><a href="">Góc nhìn</a></li>
                                <li><a href="">Du học</a></li>
                                <li><a href="">Sức khỏe học đường</a></li>
                                <li><a href="">Văn hóa</a></li>
                                <li><a href="">Kinh tế</a></li>
                                <li><a href="">Multimedia</a></li>
                        </ul>
                </div>
        </div>
</header>