<div class="slide">
    <div class="wrap-heading">
        <h3 class="box-heading">
            <a href="" class="title">đọc báo in</a>
        </h3>
        <div class="sub-title">
            <a href="#" title="">vùng cao</a>
            <a href="#" title="">thường ký</a>
            <a href="#" title="">Cuối tuần</a>
        </div>
    </div>
    <div class="box-content">
        @@for (var i = 0; i < 5; i++) { <article class="story">
            <figure class="story__thumb">
                <a href="" title=""> <img src="https://source.unsplash.com/featured/200x300?sig=1"
                        alt="200x300 (~2:3)"></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    BÁO Lào Cai SỐ 24592
                </a>
            </h5>
            <div class="story__meta">
                <span class="time">Ngày 04-03-2023</span>
            </div>
            </article>
            }
    </div>
</div>