<div class="review">
    <h3 class="box-heading">
        <a href="" class="title">review lao cai</a>
    </h3>
    <div class="box-content">
        <div class="review-img"></div>
        <article class="story">
            <figure class="story__thumb">
                <a href="" title=""><img src="https://source.unsplash.com/featured/810x455?sig=1" alt="810x455 (~16:9)"></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Official Gazette issues Nos 09-12/2022, available on April 28, 2022
                </a>
            </h5>
        </article>
        <article class="story">
            <figure class="story__thumb">
                <a href="" title=""><img src="https://source.unsplash.com/featured/810x455?sig=1" alt="810x455 (~16:9)"></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Official Gazette issues Nos 09-12/2022, available on April 28, 2022
                </a>
            </h5>
        </article>
        <article class="story">
            <figure class="story__thumb">
                <a href="" title=""><img src="https://source.unsplash.com/featured/810x455?sig=1" alt="810x455 (~16:9)"></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Official Gazette issues Nos 09-12/2022, available on April 28, 2022
                </a>
            </h5>
        </article>
        <article class="story">
            <figure class="story__thumb">
                <a href="" title=""><img src="https://source.unsplash.com/featured/810x455?sig=1" alt="810x455 (~16:9)"></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Official Gazette issues Nos 09-12/2022, available on April 28, 2022
                </a>
            </h5>
        </article>
    </div>
</div>