.multimedia {
    background: url(../img/bg.png) center center/100% 100% no-repeat;
    margin: 0 -16px;
    padding: 0 16px;

    .wrap-heading {
        position: relative;
        margin-bottom: 16px;

        &::before {
            position: absolute;
            content: "";
            background: linear-gradient(89.97deg, #B02A37 0.02%, #FFC107 41.67%, rgba(255, 193, 7, 0) 99.99%);
            width: 100%;
            height: 1px;
            bottom: 0;
        }

        .title {
            font-family: $font-family-branch;
            font-weight: $font-weight-normal;
            font-size: 30px;
            line-height: 40px;
            text-transform: uppercase;
            color: #DC3545;
        }

        .sub-title {
            margin-top: 8px;
            display: flex;
            overflow-x: scroll;
            padding-bottom: 6px;

            >* {
                display: flex;
                align-items: end;
                font-weight: $font-weight-medium;
                font-size: 15px;
                line-height: 25px;
                color: #343A40;
                white-space: nowrap;
                padding-left: 15px;

                &:first-child {
                    padding-left: 0;
                }

                &:nth-child(2) {
                    color: #198754;
                }

                &:nth-child(3) {
                    color: #0D6EFD;
                }

                &:nth-child(4) {
                    color: #FFC107;
                }

                [class^=ic-] {
                    margin-right: 4px;
                    position: relative;
                    top: -3px;

                    &::before {
                        font-size: 24px;
                    }

                }

            }

            &::-webkit-scrollbar {
                height: 1px;
                background-color: transparent;
            }

        }
    }

    .ic-tivi {
        color: #212529;
    }

    .ic-podcast {
        color: #198754;
    }

    .ic-e-ma {
        color: #0D6EFD;
    }

    .ic-img {
        color: #FFC107;
    }

    .story {
        margin-top: 16px;
        padding-top: 16px;
        border-top: 1px solid #E9ECEF;

        &:first-child {
            margin-top: 0;
            padding-top: 0;
            border-top: none;
        }

        &__thumb {
            // width: 33%;
            // height: 20vw;
            // max-height: 112px;
            float: left;
            margin-right: 16px;
            width: 150px;
            height: 85px;
            // min-height: 100px;
        }

        &__heading {
            display: flex;
        }
    }
}