<!-- <div class="article__sub-title">
    Sự sống bí ẩn trong khói núi lửa dưới biển sâu
</div> -->
<div class="article__title">
    Danh hiệu thủ khoa, á khoa có đang bị lạm dụng sau kỳ thi tuyển sinh 10?
</div>
<div class="article__meta">
    <div class="row">
        <time class="time">03/07/2023 06:46</time>
        <span class="author">Hương Giang</span>
    </div>
    <div class="social">
        <a href="#" class="zl"> zl</a>
        <a href="#" class="fb"> fb</a>
        <a href="#" class="tw"> tw</a>
        <a href="#" class="link">link</a>
    </div>
</div>
@@include("../audio/audio.html")
<div class="article__sapo">
    GDVN- Mỗi trường phổ thông chuyên chỉ tuyển vài trăm học sinh đầu vào mà vinh danh đến trên 20 thí sinh là thủ khoa,
    á khoa,e rằng chưa thực sự phù hợp cho lắm.
</div>