<div class="half-slide">
    <h3 class="box-heading">
        <a href="" class="title">CÓ THỂ BẠN QUAN TÂM</a>
    </h3>
    <div class="box-content">
        @@for (var i = 0; i < 4; i++) { <article class="story">
            <figure class="story__thumb">
                <a href="" title=""> <img src="https://source.unsplash.com/featured/270x180?sig=1"
                        alt="270x180 (3x2)"></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Official Gazette issues Nos 09-12/2022, available on April 28, 2022
                </a>
            </h5>
            </article>
            }
    </div>
</div>