.interview-zone {
    >* {
        margin-top: 26px;

        &:first-child {
            margin-top: 0;
        }
    }

    .itv-context {
        background: #F8F9FA;
        border: 1px solid #DEE2E6;
        padding: 20px;

        .desc {
            color: $gray-800;
            font-weight: 700;
        }

        .content {
            padding-top: 8px;
            padding-bottom: 0;

            li {
                margin-bottom: 8px;
                padding: 0;
                color: #343a40;

                &::before {
                    display: none;
                }
            }
        }
    }

    .itv-invitors {
        background: #F8F9FA;
        border: 1px solid #DEE2E6;
        border-radius: 4px;
        padding: 24px 16px;

        .box-heading span {

            font-weight: 800;
            font-size: 20px;
            line-height: 23px;
            text-align: center;
            text-transform: uppercase;
            color: #212529;
            display: block;
        }

        .box-content {
            margin-top: 16px;

            max-height: 312px;
            overflow-y: scroll;
            margin-right: -11px;

            .visitor {
                margin-top: 16px;
                overflow: auto;

                &:first-child {
                    margin-top: 0;
                }
            }

            .name {
                font-weight: 700;
                font-size: 18px;
                line-height: 20px;
                color: #343a40;
            }

            .text {

                font-weight: 600;
                font-size: 14px;
                line-height: 20px;
                color: #6c757d;
            }

            .avatar {
                width: 81px;
                min-width: 81px;
                height: 81px;
                border: 1px solid #dee2e6;
                border-radius: 50%;
                margin-right: 12px;
                padding: 23px;
                overflow: hidden;
                position: relative;
                float: left;

                img {
                    width: 100%;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }

            &::-webkit-scrollbar {
                width: 4px;
                opacity: 0.5;
                background: #f0f0f0;
                border-radius: 4.5px;
            }

            &::-webkit-scrollbar-track {
                background: #f5f5f5;
            }

            &::-webkit-scrollbar-thumb {
                background: #ccc;
                border-radius: 10px;
            }
        }

    }

    .itv-note {
        padding-top: 38px;
        display: block;
        text-align: center;
        background: url(../img/bottom-decor.png) top center no-repeat;

        font-weight: $font-weight-medium;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        color: #343A40;
    }

    .itv-interaction {
        background: #fff3cd;
        border: 1px solid #ffe69c;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 2.4rem 1.6rem;

        .box-heading {
            margin-bottom: 16px;

            >* {
                font-size: 22px;
                text-transform: uppercase;
                font-weight: $font-weight-semibold;
                color: $gray-900;
            }
        }


        .field {
            margin: 4px 0 16px;
            display: flex;
            justify-content: space-between;

            .textarea,
            .input {
                background-color: #fff;
                border: 1px solid #ddd;
                border-radius: 1px;
                width: 100%;
                padding: 7px 12px;
                box-shadow: inset 0 0.0625em 0.125em rgba(0, 0, 0, .05);
            }

            .input {
                width: 49%;
            }
        }

        .wrap-btn {
            display: flex;
            justify-content: end;
            margin-top: 24px;

            button {
                padding: 6px 16px;
                background-color: $primary;
                text-transform: uppercase;
                color: #fff;
                border-radius: 4px;
                font-size: 14px;
            }
        }
    }

    //  anwser question
    .itv-question-answer {
        >* {
            margin-top: 26px;

            &:first-child {
                margin-top: 0;
            }
        }

        .anwser {
            .wrap-content {
                background: #FFF3CD;
                margin-left: auto;
                position: relative;

                ::after {
                    content: '';
                    width: 0;
                    height: 0;
                    display: block;
                    position: absolute;
                    z-index: 10;
                    border: 0;
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                    margin-top: -10px;
                    top: 42px;
                    border-right: 10px solid #FFF3CD;
                    left: -10px;
                }

            }

            .avatar {
                float: left;
                background: #FFE69C url(../img/user2.png) center center no-repeat;
            }
        }

        .question {
            .wrap-content {
                background: #E7F1FF;
                margin-right: auto;
                position: relative;

                &::after {
                    content: '';
                    width: 0;
                    height: 0;
                    display: block;
                    position: absolute;
                    z-index: 10;
                    border: 0;
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                    margin-top: -10px;
                    top: 42px;
                    border-left: 10px solid #E7F1FF;
                    left: auto;
                    right: -10px;
                }
            }

            .avatar {
                float: right;
                background: #9ec5fe url(../img/user1.png) center center no-repeat;
            }
        }

        .avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-top: 24px;

            >* {
                border-radius: 50%;
            }
        }

        .meta {

            .name {
                font-weight: $font-weight-medium;
                font-size: 19px;
                line-height: 30px;
            }

            .time {
                font-size: 12px;
                line-height: 14px;
                color: #212529;
                margin-top: 8px;
            }
        }

        .wrap-content {
            border-radius: 12px;
            padding: 12px;
            width: calc(100% - 44px);

            >* {
                margin-top: 8px;


                &:first-child {
                    margin-top: 0;
                }
            }

            .content {
                >* {
                    margin-top: 8px;
                    font-size: 19px;
                    line-height: 28px;
                    color: #343A40;

                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
        }

        .heading {
            font-weight: 700;
            font-size: 18px;
            line-height: 27px;
            color: #212529;
            padding-bottom: 16px;
            margin-bottom: 16px;
            border-bottom: 1px solid rgba(0, 0, 0, .1);
        }

        .title {
            font-style: italic;
            font-weight: 700;
            font-size: 18px;
            line-height: 28px;
            color: #212529;
        }

    }
}