<h2>
    <center> ===== Interview =====</center>
</h2>
<div class="interview-zone">
    <div class="itv-context">
        <p class="desc">Mô tả: Sau hành trình tại ASIAD 2018 với vị trí thứ 4 cùng Olympic VN, Quang Hải, Văn Toàn và
            trung vệ Bùi Tiến Dũng sẽ dành thời gian giao lưu cùng độc giả Zing.vn lúc 9h30 ngày 3/9.</p>
        <ul class="content">
            <li><strong>1. Thời gian</strong>: 9 giờ 30, ngày 3 tháng 9 năm 2019</li>
            <li><strong>2. Địa điểm</strong>: Số 120 đường Đình Thôn, Phường Mỹ Đình 1, Quận Nam Từ Liêm, Thành phố Hà
                Nội</li>
        </ul>
    </div>
    <div class="itv-invitors">
        <h3 class="box-heading"><span>Danh sách khách mời</span></h3>
        <div class="box-content">
            <div class="visitor">
                <div class="avatar">
                    <img src="https://source.unsplash.com/featured/100x100?sig=1" alt="100x100 (~1x1)">
                </div>
                <div class="info">
                    <a href="" class="name">Hoài thu</a>
                    <p class="text">Tổng Bí thư Ban Chấp hành Trung ương Đảng Cộng sản Việt Nam </p>
                </div>
            </div>
            <div class="visitor">
                <div class="avatar">
                    <img src="https://source.unsplash.com/featured/100x100?sig=1" alt="100x100 (~1x1)">
                </div>
                <div class="info">
                    <a href="" class="name">Hoài thu</a>
                    <p class="text">Tổng Bí thư Ban Chấp hành Trung ương Đảng Cộng sản Việt Nam </p>
                </div>
            </div>
            <div class="visitor">
                <div class="avatar">
                    <img src="https://source.unsplash.com/featured/100x100?sig=1" alt="100x100 (~1x1)">
                </div>
                <div class="info">
                    <a href="" class="name">Hoài thu</a>
                    <p class="text">Tổng Bí thư Ban Chấp hành Trung ương Đảng Cộng sản Việt Nam </p>
                </div>
            </div>
            <div class="visitor">
                <div class="avatar">
                    <img src="https://source.unsplash.com/featured/100x100?sig=1" alt="100x100 (~1x1)">
                </div>
                <div class="info">
                    <a href="" class="name">Hoài thu</a>
                    <p class="text">Tổng Bí thư Ban Chấp hành Trung ương Đảng Cộng sản Việt Nam </p>
                </div>
            </div>
        </div>
    </div>
    <!-- phần chính luôn có -->
    <span class="itv-note">Buổi giao lưu trực tuyến bắt đầu</span>
    <div class="itv-question-answer">
        <div class="item question">
            <div class="avatar">
                <img src="https://source.unsplash.com/featured/100x100?sig=1" alt="100x100 (~1x1)">
            </div>
            <div class="wrap-content">
                <div class="meta">
                    <div class="name">Lê Cẩm Vân</div>
                    <div class="time">17:12 - 16/08/2021</div>
                </div>
                <div class="content">

                    <strong>support thẻ figure</strong>
                    <figure class="outset-right">
                        <img src="https://source.unsplash.com/featured/700x394?sig=1" alt="">
                        <figcaption> figure outset-right</figcaption>
                    </figure>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus exercitationem est culpa maxime
                        quam doloribus
                        repudiandae ea earum magnam et aperiam commodi eum assumenda, excepturi nulla ipsa ipsum
                        provident eius sequi, illum
                        dignissimos tenetur. Assumenda, hic ad dicta inventore eos vero soluta neque voluptates at
                        deserunt molestiae
                        illo maxime. Perspiciatis quidem eos quaerat dolor accusantium quia illum, ratione iste, ex
                        repellendus sit iusto
                        excepturi dicta tempore laborum voluptates non ipsum? Deleniti dolores est iste expedita sequi
                        quam, quos quas,
                        ipsam facilis voluptatum esse non qui aliquid ut atque voluptatibus molestias aspernatur. Iure
                        incidunt rem illo ad
                        maiores nulla at eos tenetur, repudiandae amet suscipit perferendis magni quis?</p>
                    <figure class="outset-left">
                        <img src="https://source.unsplash.com/featured/700x394?sig=1" alt="">
                        <figcaption> figure outset-left</figcaption>
                    </figure>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ut hic, pariatur eaque libero
                        amet tempore iure
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus exercitationem est culpa
                            maxime quam doloribus
                            repudiandae ea earum magnam et aperiam commodi eum assumenda, excepturi nulla ipsa ipsum
                            provident eius sequi, illum
                            dignissimos tenetur. Assumenda, hic ad dicta inventore eos vero soluta neque voluptates at
                            deserunt molestiae
                            illo maxime. Perspiciatis quidem eos quaerat dolor accusantium quia illum, ratione iste, ex
                            repellendus sit iusto
                            excepturi dicta tempore laborum voluptates non ipsum? Deleniti dolores est iste expedita
                            sequi quam, quos quas,
                            ipsam facilis voluptatum esse non qui aliquid ut atque voluptatibus molestias aspernatur.
                            Iure incidunt rem illo ad
                            maiores nulla at eos tenetur, repudiandae amet suscipit perferendis magni quis?</p>
                        <figure class="align-left">
                            <img src="https://source.unsplash.com/featured/700x394?sig=1" alt="">
                            <figcaption> figure align-left</figcaption>
                        </figure>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus exercitationem est culpa
                            maxime quam doloribus
                            repudiandae ea earum magnam et aperiam commodi eum assumenda, excepturi nulla ipsa ipsum
                            provident eius sequi, illum
                            dignissimos tenetur. Assumenda, hic ad dicta inventore eos vero soluta neque voluptates at
                            deserunt molestiae
                            illo maxime. Perspiciatis quidem eos quaerat dolor accusantium quia illum, ratione iste, ex
                            repellendus sit iusto
                            excepturi dicta tempore laborum voluptates non ipsum? Deleniti dolores est iste expedita
                            sequi quam, quos quas,
                            ipsam facilis voluptatum esse non qui aliquid ut atque voluptatibus molestias aspernatur.
                            Iure incidunt rem illo ad
                            maiores nulla at eos tenetur, repudiandae amet suscipit perferendis magni quis?</p>
                        <figure class="align-right">
                            <img src="https://source.unsplash.com/featured/700x394?sig=1" alt="">
                            <figcaption> figure align-right</figcaption>
                        </figure>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus exercitationem est culpa
                            maxime quam doloribus
                            repudiandae ea earum magnam et aperiam commodi eum assumenda, excepturi nulla ipsa ipsum
                            provident eius sequi, illum
                            dignissimos tenetur. Assumenda, hic ad dicta inventore eos vero soluta neque voluptates at
                            deserunt molestiae
                            illo maxime. Perspiciatis quidem eos quaerat dolor accusantium quia illum, ratione iste, ex
                            repellendus sit iusto
                            excepturi dicta tempore laborum voluptates non ipsum? Deleniti dolores est iste expedita
                            sequi quam, quos quas,
                            ipsam facilis voluptatum esse non qui aliquid ut atque voluptatibus molestias aspernatur.
                            Iure incidunt rem illo ad
                            maiores nulla at eos tenetur, repudiandae amet suscipit perferendis magni quis?</p>
                        <figure align="center">
                            <img src="https://source.unsplash.com/featured/700x394?sig=1" alt="">
                            <figcaption> figure align="center"</figcaption>
                        </figure>
                        <figure align="right">
                            <img src="https://source.unsplash.com/featured/700x394?sig=1" alt="">
                            <figcaption> figure align="right"</figcaption>
                        </figure>
                        <figure align="left">
                            <img src="https://source.unsplash.com/featured/700x394?sig=1" alt="">
                            <figcaption> figure align="left"</figcaption>
                        </figure>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus exercitationem est culpa
                            maxime quam doloribus
                            repudiandae ea earum magnam et aperiam commodi eum assumenda, excepturi nulla ipsa ipsum
                            provident eius sequi, illum
                            dignissimos tenetur. Assumenda, hic ad dicta inventore eos vero soluta neque voluptates at
                            deserunt molestiae
                            illo maxime. Perspiciatis quidem eos quaerat dolor accusantium quia illum, ratione iste, ex
                            repellendus sit iusto
                            excepturi dicta tempore laborum voluptates non ipsum? Deleniti dolores est iste expedita
                            sequi quam, quos quas,
                            ipsam facilis voluptatum esse non qui aliquid ut atque voluptatibus molestias aspernatur.
                            Iure incidunt rem illo ad
                            maiores nulla at eos tenetur, repudiandae amet suscipit perferendis magni quis?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus exercitationem est culpa
                            maxime quam doloribus
                            repudiandae ea earum magnam et aperiam commodi eum assumenda, excepturi nulla ipsa ipsum
                            provident eius sequi, illum
                            dignissimos tenetur. Assumenda, hic ad dicta inventore eos vero soluta neque voluptates at
                            deserunt molestiae
                            illo maxime. Perspiciatis quidem eos quaerat dolor accusantium quia illum, ratione iste, ex
                            repellendus sit iusto
                            excepturi dicta tempore laborum voluptates non ipsum? Deleniti dolores est iste expedita
                            sequi quam, quos quas,
                            ipsam facilis voluptatum esse non qui aliquid ut atque voluptatibus molestias aspernatur.
                            Iure incidunt rem illo ad
                            maiores nulla at eos tenetur, repudiandae amet suscipit perferendis magni quis?</p>

                        <table class="picture full-width">
                            <tbody>
                                <tr>
                                    <td class="img"><img src="https://source.unsplash.com/featured/1024x400?sig=1" alt="">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="caption">full-width</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="picture max-width">
                            <tbody>
                                <tr>
                                    <td class="img"><img src="https://source.unsplash.com/featured/1024x400?sig=1" alt="">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="caption">max-width</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="outset-left">
                            <tbody>
                                <tr>
                                    <td>
                                        <img src="https://source.unsplash.com/featured/700x394?sig=2" alt="">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="caption">
                                        <p>outset-left</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="outset-right">
                            <tbody>
                                <tr>
                                    <td>

                                        <img src="https://source.unsplash.com/featured/700x394?sig=2" alt="">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="caption">
                                        <p>outset-right</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="align-left">
                            <tbody>
                                <tr>
                                    <td>

                                        <img src="https://source.unsplash.com/featured/700x394?sig=3" alt="">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="caption">
                                        <p>align-left</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="align-right">
                            <tbody>
                                <tr>
                                    <td>

                                        <img src="https://source.unsplash.com/featured/700x394?sig=4" alt="">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="caption">
                                        <p>align-right</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table align="left">
                            <tbody>
                                <tr>
                                    <td>

                                        <img src="https://source.unsplash.com/featured/700x394?sig=5" alt="">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="caption">
                                        <p>align="left"</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table align="right">
                            <tbody>
                                <tr>
                                    <td>

                                        <img src="https://source.unsplash.com/featured/700x394?sig=6" alt="">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="caption">
                                        <p>align="right"</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table align="center">
                            <tbody>
                                <tr>
                                    <td>

                                        <img src="https://source.unsplash.com/featured/700x394?sig=7" alt="">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="caption">
                                        <p>align="center"</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
        <div class="item anwser">
            <div class="avatar">
                <img src="https://source.unsplash.com/featured/100x100?sig=1" alt="100x100 (~1x1)">
            </div>
            <div class="wrap-content">
                <div class="meta">
                    <div class="name">Lê Cẩm Vân</div>
                    <div class="time">17:12 - 16/08/2021</div>
                </div>
                <div class="content">
                    <p>Để đưa đất nước bước vào một giai đoạn phát triển mới, Đảng ta đã xác định các mục tiêu cụ thể
                        hướng tới những dấu mốc phát triển quan trọng của đất nước ta, đó là:</p>
                    <p>Đến năm 2030, kỷ niệm 100 năm thành lập Đảng: Là nước đang phát triển có công nghiệp hiện đại,
                        thu nhập trung bình cao.</p>
                    <p>Đến năm 2045, kỷ niệm 100 năm thành lập nước Cộng hòa Xã hội Chủ nghĩa Việt Nam: Trở thành nước
                        phát triển, thu nhập cao.</p>
                </div>
            </div>
        </div>
        <div class="item question">
            <div class="avatar">
                <img src="https://source.unsplash.com/featured/100x100?sig=1" alt="100x100 (~1x1)">
            </div>
            <div class="wrap-content">
                <div class="meta">
                    <div class="name">Lê Cẩm Vân</div>
                    <div class="time">17:12 - 16/08/2021</div>
                </div>
                <div class="content">
                    <p>Để đưa đất nước bước vào một giai đoạn phát triển mới, Đảng ta đã xác định các mục tiêu cụ thể
                        hướng tới những dấu mốc phát triển quan trọng của đất nước ta, đó là:</p>
                    <p>Đến năm 2030, kỷ niệm 100 năm thành lập Đảng: Là nước đang phát triển có công nghiệp hiện đại,
                        thu nhập trung bình cao.</p>
                    <p>Đến năm 2045, kỷ niệm 100 năm thành lập nước Cộng hòa Xã hội Chủ nghĩa Việt Nam: Trở thành nước
                        phát triển, thu nhập cao.</p>
                </div>
            </div>
        </div>
        <div class="item anwser">
            <div class="avatar">
                <img src="https://source.unsplash.com/featured/100x100?sig=1" alt="100x100 (~1x1)">
            </div>
            <div class="wrap-content">
                <div class="meta">
                    <div class="name">Lê Cẩm Vân</div>
                    <div class="time">17:12 - 16/08/2021</div>
                </div>
                <div class="content">
                    <p>Để đưa đất nước bước vào một giai đoạn phát triển mới, Đảng ta đã xác định các mục tiêu cụ thể
                        hướng tới những dấu mốc phát triển quan trọng của đất nước ta, đó là:</p>
                    <p>Đến năm 2030, kỷ niệm 100 năm thành lập Đảng: Là nước đang phát triển có công nghiệp hiện đại,
                        thu nhập trung bình cao.</p>
                    <p>Đến năm 2045, kỷ niệm 100 năm thành lập nước Cộng hòa Xã hội Chủ nghĩa Việt Nam: Trở thành nước
                        phát triển, thu nhập cao.</p>
                </div>
            </div>
        </div>

    </div>
    <!-- END : phần chính luôn có -->
    <div class="itv-interaction">
        <h3 class="box-heading"><span>Giao lưu với độc giả</span></h3>
        <form>
            <div class="field">
                <textarea class="textarea" placeholder="Nội dung câu hỏi *" rows="6"></textarea>
            </div>
            <div class="field">
                <input class="input" placeholder="Họ và tên * ">
                <input class="input" placeholder="Email *">
            </div>
        </form>
        <div class="wrap-btn"><button class="btn-submit">Gửi câu hỏi</button></div>
    </div>
</div>