<div class="box-podcast">
    <div class="content">
        <div class="photo">
            <img src="https://source.unsplash.com/featured/300x170?sig=1" alt="300x170 (16x9)">
        </div>
        <h2 class="article__sub-title cms-subtitle ">TRUYỆN KỂ TỪ ĐẠI NGÀN</h2>
        <div class="article__title">Chiếc xe đạp của ông Khang</div>

        <div class="article__meta">
            <div class="row">
                <span class="author"><i class="ic-pen"></i> Hoàng Thu</span>
                <time class="time"><i class="ic-calendar"></i> Thứ sáu, ngày 17/09/2021 -
                    11:16</time>
            </div>
            <div class="row">
                <iframe
                    src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;width=120&amp;layout=button&amp;action=like&amp;size=small&amp;share=true&amp;height=65&amp;appId"
                    width="120" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowfullscreen="true"
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                <div class="social">
                    <a href="" class="zl">zl</a>
                    <a href="" class="tw">tw</a>
                    <a href="" class="print">tw</a>
                    <a href="" class="mail">tw</a>
                </div>
                <a class="gg-news" href="#">
                    <span>Theo dõi Báo Nghệ An trên</span>
                    <img src="../styles/img/gg-news.png" alt="">
                </a>
            </div>
        </div>
        <div class="article__sapo"><b>Mời quý vị và các bạn cùng lắng nghe truyện ngắn “Chiếc xe đạp của ông Khang”, của tác giả Lê Kiểm. Truyện ngắn “Chiếc xe đạp của ông Khang” được đăng tải trên Báo Lào Cai cuối tuần, số 932, phát hành ngày 6/5/2023.&nbsp;Câu chuyện diễn biến như thế nào? Ngay sau đây, mời quý thính giả cùng lắng nghe chi tiết truyện ngắn này.</b></div>
    </div>
    <div class="audio">
        <div class="left">
            <div class="wrap">
                <button class="btn-prev"></button>
                <button class="play-button">
                    <span>
                        <i class="ic-audio-pause"></i>
                    </span>
                </button>
                <button class="btn-next"></button>
            </div>
            <span class="mute-wrap">
                <button class="mute-button"><i class="ic-audio-volume"></i></button>
                <div class="volume-slider" id="volume-slider">
                    <div class="volume-slider-handle"></div>
                </div>
            </span>
            <div class="time-display">
                <span class="current">12:89</span>
                <span class="separator"> / </span>
                <span class="duration">18:00</span>
                <span class="live"></span> </div>
            <div class="progress-bar" id="progress-bar">
                <span class="bg"></span>
                <div class="wrap-recent">
                    <span class="fill-recent">
                        <span class="current_time">0:00</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="right">
            <button class="select-voice">
                <i class="ic-audio-microphone"></i>
                <span>Nam miền Bắc</span>
            </button>
            <div class="voice-board">
                <ul>
                    <li class="is-active">
                        <div class="voice-name" data-display-name="Nam miền Bắc" data-voice-id="1">
                            <i class="ic-audio-waveform"></i>
                            <span>Nam miền Bắc</span>
                        </div>
                    </li>
                    <li>
                        <div class="voice-name" data-display-name="Nữ miền Bắc" data-voice-id="2">
                            <i class="ic-audio-waveform"></i>
                            <span>Nữ miền Bắc</span>
                        </div>
                    </li>
                    <li>
                        <div class="voice-name" data-display-name="Nữ miền Nam" data-voice-id="3">
                            <i class="ic-audio-waveform"></i>
                            <span>Nữ miền Nam</span>
                        </div>
                    </li>
                    <li>
                        <div class="voice-name" data-display-name="Nam miền Nam" data-voice-id="4">
                            <i class="ic-audio-waveform"></i>
                            <span>Nam miền Nam</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>