<div class="box-story">
    <!-- <h3 class="box-heading">
        <a href="#" class="title">Trang chủ</a>
    </h3> -->
    <div class="box-content">
        @@for ( var i = 0; i < 3; i++) { <article class="story">
            <figure class="story__thumb">
                <a href="#" title=""> <img src="https://source.unsplash.com/featured/250x165?sig=1"
                        alt="250x165"></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Nghệ An: Thông tin nổi bật ngày 18/12
                </a>
            </h5>
            <div class="story__meta">
                <time class="time" datetime="2023-03-22T19:58:40+0700"> 1 giờ trước </time>
                <div class="vertical-line"></div>
                <a href="#" class="title-cate" title="VIETNAMPLUS">VIETNAMPLUS</a>
            </div>
        </article>
        }
    </div>
</div>