<h2>
    <center> ===== Interview =====</center>
</h2>
<div class="interview-zone">
    <!-- <div class="itv-context">
        <p class="desc">Mô tả: Sau hành trình tại ASIAD 2018 với vị trí thứ 4 cùng Olympic VN, Quang Hải, Văn Toàn và
            trung vệ Bùi Tiến Dũng sẽ dành thời gian giao lưu cùng độc giả Zing.vn lúc 9h30 ngày 3/9.</p>
        <ul class="content">
            <li><strong>1. Thời gian</strong>: 9 giờ 30, ngày 3 tháng 9 năm 2019</li>
            <li><strong>2. Địa điểm</strong>: Số 120 đường Đình Thôn, Phường Mỹ Đình 1, Quận Nam Từ Liêm, Thành phố Hà
                Nội</li>
        </ul>
    </div> -->
    <div class="itv-invitors">
        <h3 class="box-heading"><span>Khách mời</span></h3>
        <div class="box-content">
            <div class="visitor">
                <div class="avatar">
                    <img src="https://source.unsplash.com/featured/160x160?sig=1" alt="160x160 (~1x1)">
                </div>
                <div class="info">
                    <a href="" class="name">Th.S Võ Thiện Cang</a>
                    <p class="text">Trưởng phòng Khảo thí và Kiểm định chất lượng giáo dục, Sở GD-ĐT TPHCM</p>
                </div>
            </div>
            <div class="visitor">
                <div class="avatar">
                    <img src="https://source.unsplash.com/featured/160x160?sig=1" alt="160x160 (~1x1)">
                </div>
                <div class="info">
                    <a href="" class="name">Th.S Bùi Hoàng Tiên</a>
                    <p class="text">Giám đốc Tuyển sinh - Truyền thông Hệ thống Giáo dục Đại Việt</p>
                </div>
            </div>
            <div class="visitor">
                <div class="avatar">
                    <img src="https://source.unsplash.com/featured/160x160?sig=1" alt="160x160 (~1x1)">
                </div>
                <div class="info">
                    <a href="" class="name">TS Mai Đức Toàn</a>
                    <p class="text">Giám đốc Trung tâm Tuyển sinh - Truyền thông, Trường ĐH Gia Định</p>
                </div>
            </div>
            <div class="visitor">
                <div class="avatar">
                    <img src="https://source.unsplash.com/featured/160x160?sig=1" alt="160x160 (~1x1)">
                </div>
                <div class="info">
                    <a href="" class="name">Th.S Lê Quang Trị</a>
                    <p class="text">Phó Trưởng phòng Công tác sinh viên, Trường ĐH Nguyễn Tất Thành</p>
                </div>
            </div>
        </div>
    </div>

    <div class="horizontal-line"></div> <!-- INFO : quynhttn review : dùng css -->
    <!-- phần chính luôn có -->
    <span class="itv-note">Hỏi & đáp</span>
    <div class="itv-question-answer">
        <div class="item question">
            <div class="avatar">
            </div>
            <div class="wrap-content">
                <div class="meta">
                    <div class="name">Nguyễn Hoàng Phúc</div>
                    <div class="time">09:22 19/12/2018</div>
                </div>
                <div class="content">
                    <strong>support thẻ figure</strong>
                    <figure class="outset-right">
                        <img src="https://source.unsplash.com/featured/700x394?sig=1" alt="">
                        <figcaption> figure outset-right</figcaption>
                    </figure>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus exercitationem est culpa maxime
                        quam doloribus
                        repudiandae ea earum magnam et aperiam commodi eum assumenda, excepturi nulla ipsa ipsum
                        provident eius sequi, illum
                        dignissimos tenetur. Assumenda, hic ad dicta inventore eos vero soluta neque voluptates at
                        deserunt molestiae
                        illo maxime. Perspiciatis quidem eos quaerat dolor accusantium quia illum, ratione iste, ex
                        repellendus sit iusto
                        excepturi dicta tempore laborum voluptates non ipsum? Deleniti dolores est iste expedita sequi
                        quam, quos quas,
                        ipsam facilis voluptatum esse non qui aliquid ut atque voluptatibus molestias aspernatur. Iure
                        incidunt rem illo ad
                        maiores nulla at eos tenetur, repudiandae amet suscipit perferendis magni quis?</p>
                    <figure class="outset-left">
                        <img src="https://source.unsplash.com/featured/700x394?sig=1" alt="">
                        <figcaption> figure outset-left</figcaption>
                    </figure>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ut hic, pariatur eaque libero
                        amet tempore iure
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus exercitationem est culpa
                        maxime quam doloribus
                        repudiandae ea earum magnam et aperiam commodi eum assumenda, excepturi nulla ipsa ipsum
                        provident eius sequi, illum
                        dignissimos tenetur. Assumenda, hic ad dicta inventore eos vero soluta neque voluptates at
                        deserunt molestiae
                        illo maxime. Perspiciatis quidem eos quaerat dolor accusantium quia illum, ratione iste, ex
                        repellendus sit iusto
                        excepturi dicta tempore laborum voluptates non ipsum? Deleniti dolores est iste expedita
                        sequi quam, quos quas,
                        ipsam facilis voluptatum esse non qui aliquid ut atque voluptatibus molestias aspernatur.
                        Iure incidunt rem illo ad
                        maiores nulla at eos tenetur, repudiandae amet suscipit perferendis magni quis?</p>
                    <figure class="align-left">
                        <img src="https://source.unsplash.com/featured/700x394?sig=1" alt="">
                        <figcaption> figure align-left</figcaption>
                    </figure>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus exercitationem est culpa
                        maxime quam doloribus
                        repudiandae ea earum magnam et aperiam commodi eum assumenda, excepturi nulla ipsa ipsum
                        provident eius sequi, illum
                        dignissimos tenetur. Assumenda, hic ad dicta inventore eos vero soluta neque voluptates at
                        deserunt molestiae
                        illo maxime. Perspiciatis quidem eos quaerat dolor accusantium quia illum, ratione iste, ex
                        repellendus sit iusto
                        excepturi dicta tempore laborum voluptates non ipsum? Deleniti dolores est iste expedita
                        sequi quam, quos quas,
                        ipsam facilis voluptatum esse non qui aliquid ut atque voluptatibus molestias aspernatur.
                        Iure incidunt rem illo ad
                        maiores nulla at eos tenetur, repudiandae amet suscipit perferendis magni quis?</p>
                    <figure class="align-right">
                        <img src="https://source.unsplash.com/featured/700x394?sig=1" alt="">
                        <figcaption> figure align-right</figcaption>
                    </figure>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus exercitationem est culpa
                        maxime quam doloribus
                        repudiandae ea earum magnam et aperiam commodi eum assumenda, excepturi nulla ipsa ipsum
                        provident eius sequi, illum
                        dignissimos tenetur. Assumenda, hic ad dicta inventore eos vero soluta neque voluptates at
                        deserunt molestiae
                        illo maxime. Perspiciatis quidem eos quaerat dolor accusantium quia illum, ratione iste, ex
                        repellendus sit iusto
                        excepturi dicta tempore laborum voluptates non ipsum? Deleniti dolores est iste expedita
                        sequi quam, quos quas,
                        ipsam facilis voluptatum esse non qui aliquid ut atque voluptatibus molestias aspernatur.
                        Iure incidunt rem illo ad
                        maiores nulla at eos tenetur, repudiandae amet suscipit perferendis magni quis?</p>
                    <figure align="center">
                        <img src="https://source.unsplash.com/featured/700x394?sig=1" alt="">
                        <figcaption> figure align="center"</figcaption>
                    </figure>
                    <figure align="right">
                        <img src="https://source.unsplash.com/featured/700x394?sig=1" alt="">
                        <figcaption> figure align="right"</figcaption>
                    </figure>
                    <figure align="left">
                        <img src="https://source.unsplash.com/featured/700x394?sig=1" alt="">
                        <figcaption> figure align="left"</figcaption>
                    </figure>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus exercitationem est culpa
                        maxime quam doloribus
                        repudiandae ea earum magnam et aperiam commodi eum assumenda, excepturi nulla ipsa ipsum
                        provident eius sequi, illum
                        dignissimos tenetur. Assumenda, hic ad dicta inventore eos vero soluta neque voluptates at
                        deserunt molestiae
                        illo maxime. Perspiciatis quidem eos quaerat dolor accusantium quia illum, ratione iste, ex
                        repellendus sit iusto
                        excepturi dicta tempore laborum voluptates non ipsum? Deleniti dolores est iste expedita
                        sequi quam, quos quas,
                        ipsam facilis voluptatum esse non qui aliquid ut atque voluptatibus molestias aspernatur.
                        Iure incidunt rem illo ad
                        maiores nulla at eos tenetur, repudiandae amet suscipit perferendis magni quis?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus exercitationem est culpa
                        maxime quam doloribus
                        repudiandae ea earum magnam et aperiam commodi eum assumenda, excepturi nulla ipsa ipsum
                        provident eius sequi, illum
                        dignissimos tenetur. Assumenda, hic ad dicta inventore eos vero soluta neque voluptates at
                        deserunt molestiae
                        illo maxime. Perspiciatis quidem eos quaerat dolor accusantium quia illum, ratione iste, ex
                        repellendus sit iusto
                        excepturi dicta tempore laborum voluptates non ipsum? Deleniti dolores est iste expedita
                        sequi quam, quos quas,
                        ipsam facilis voluptatum esse non qui aliquid ut atque voluptatibus molestias aspernatur.
                        Iure incidunt rem illo ad
                        maiores nulla at eos tenetur, repudiandae amet suscipit perferendis magni quis?</p>

                    <table class="picture full-width">
                        <tbody>
                            <tr>
                                <td class="img"><img src="https://source.unsplash.com/featured/1024x400?sig=1" alt="">
                                </td>
                            </tr>
                            <tr>
                                <td class="caption">full-width</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="picture max-width">
                        <tbody>
                            <tr>
                                <td class="img"><img src="https://source.unsplash.com/featured/1024x400?sig=1" alt="">
                                </td>
                            </tr>
                            <tr>
                                <td class="caption">max-width</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="outset-left">
                        <tbody>
                            <tr>
                                <td>
                                    <img src="https://source.unsplash.com/featured/700x394?sig=2" alt="">
                                </td>
                            </tr>
                            <tr>
                                <td class="caption">
                                    <p>outset-left</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="outset-right">
                        <tbody>
                            <tr>
                                <td>

                                    <img src="https://source.unsplash.com/featured/700x394?sig=2" alt="">
                                </td>
                            </tr>
                            <tr>
                                <td class="caption">
                                    <p>outset-right</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="align-left">
                        <tbody>
                            <tr>
                                <td>

                                    <img src="https://source.unsplash.com/featured/700x394?sig=3" alt="">
                                </td>
                            </tr>
                            <tr>
                                <td class="caption">
                                    <p>align-left</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="align-right">
                        <tbody>
                            <tr>
                                <td>

                                    <img src="https://source.unsplash.com/featured/700x394?sig=4" alt="">
                                </td>
                            </tr>
                            <tr>
                                <td class="caption">
                                    <p>align-right</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table align="left">
                        <tbody>
                            <tr>
                                <td>

                                    <img src="https://source.unsplash.com/featured/700x394?sig=5" alt="">
                                </td>
                            </tr>
                            <tr>
                                <td class="caption">
                                    <p>align="left"</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table align="right">
                        <tbody>
                            <tr>
                                <td>

                                    <img src="https://source.unsplash.com/featured/700x394?sig=6" alt="">
                                </td>
                            </tr>
                            <tr>
                                <td class="caption">
                                    <p>align="right"</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table align="center">
                        <tbody>
                            <tr>
                                <td>

                                    <img src="https://source.unsplash.com/featured/700x394?sig=7" alt="">
                                </td>
                            </tr>
                            <tr>
                                <td class="caption">
                                    <p>align="center"</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="item answer">
            <!-- INFO : quynhttn review : dùng css để đổi vị trí wrap-content và avatar -->
            <div class="wrap-content">
                <div class="meta">
                    <div class="name">TS Mai Đức Toàn, Giám đốc Trung tâm Tuyển sinh - Truyền thông, Trường ĐH Gia Định
                    </div>
                    <div class="time">09:22 19/12/2018</div>
                </div>
                <div class="content">
                    <p>Hiện tại nhà trường có chính sách học bổng khuyến học được xét theo từng học kỳ cho sinh viên có
                        thành tích học tập và rèn luyện đạt loại khá - giỏi</p>
                </div>
            </div>
            <div class="avatar">
            </div>
        </div>
        <div class="item question">
            <div class="avatar">
            </div>
            <div class="wrap-content">
                <div class="meta">
                    <div class="name">Nguyễn Hoàng Phúc</div>
                    <div class="time">09:22 19/12/2018</div>
                </div>
                <div class="content">
                    <p>Em xin hỏi trường Cao Đẳng Đại Việt Sài Gòn: Học phí không tăng theo từng năm nhưng có chi phí
                        phát sinh và phụ thu không ạ?</p>
                </div>
            </div>
        </div>
        <div class="item answer">
            <div class="wrap-content">
                <div class="meta">
                    <div class="name">TS Mai Đức Toàn, Giám đốc Trung tâm Tuyển sinh - Truyền thông, Trường ĐH Gia Định
                    </div>
                    <div class="time">09:22 19/12/2018</div>
                </div>
                <div class="content">
                    <p>Hiện tại Trường Cao đẳng Đại Việt Sài Gòn cam kết không tăng học phí trong suốt khóa học và không
                        thu thêm bất kỳ phụ phí nào!</p>
                </div>
            </div>
            <div class="avatar">
            </div>
        </div>

    </div>

    <div class="horizontal-line"></div>
    <!-- END : phần chính luôn có -->
    <div class="itv-interaction">
        <h3 class="box-heading"><span>Giao lưu với độc giả</span></h3>
        <div class="box-content">
            <form>
                <div class="field-1">
                    <div class="inf">
                        <p><span class="name">Họ và Tên</span><span class="required">*</span></p>
                        <input class="input" placeholder="Nhập họ và tên">
                    </div>  
                    <div class="inf">
                        <p><span class="name">Email</span><span class="required">*</span></p>
                        <input class="input" placeholder="Nhập email">
                    </div>
                </div>
                <div class="field-2">
                    <p><span class="name">Nội dung câu hỏi</span><span class="required">*</span></p>
                    <textarea class="textarea" placeholder="Nhập nội dung" rows="6"></textarea>
                </div>
            </form>
            <!-- INFO : quynhttn review : button đặt trong form -->
            <div class="wrap-btn"><button class="btn-submit">Gửi</button></div>
        </div>
    </div>
</div>