<div class="wrap-comment">
    <div class="article__comment">
        <h3 class="box-heading">
            <a href="" class="title">bình luận</a>
        </h3>
        <div class="box-content">
            <div class="input-comment">
                <textarea placeholder="Nhập bình luận"></textarea>
                <div class="note-btn">
                    <div class="note">Xin vui lòng gõ tiếng Việt có dấu</div>
                    <button class="btn-submit" data-toggle="modal" data-target="#ModalComments">Gửi bình luận</button>
                </div>
            </div>
            <div class="list-comment">
                <div class="wrap-outer">
                    <div class="rank-1">
                        <!-- <span class="avatar">
                            <img src="https://source.unsplash.com/featured/100x100?sig=1" alt="">
                        </span> -->
                        <div class="content">
                            <div class="name">Nguyễn Văn Tuấn</div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. </div>
                            <div class="action">
                                <a href="#" class="like liked">3 Thích</a>
                                <p>·</p>
                                <a href="#" class="reply">Trả lời</a>
                                <p>·</p>
                                <time class="time">4 giờ trước</time>
                            </div>
                        </div>
                    </div>
                    <div class="wrap-inner">
                        <div class="rank-2">
                            <div class="content">
                                <div class="name">Nguyễn Văn Tuấn</div>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                                <div class="action">
                                    <a href="#" class="like liked">5 Thích</a>
                                    <p>·</p>
                                    <a href="#" class="reply">Trả lời</a>
                                    <p>·</p>
                                    <time class="time">4 giờ trước</time>
                                </div>
                            </div>
                            <div class="wrap-reply">
                                <textarea placeholder="Nhập bình luận"></textarea>
                                <div class="note-btn">
                                    <div class="note">Xin vui lòng gõ tiếng Việt có dấu</div>
                                    <button class="btn-submit" data-toggle="modal" data-target="#ModalComments">Gửi bình
                                        luận</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rank-1">
                    <div class="content">
                        <div class="name">Khánh Ngọc</div>
                        <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat sit amet
                            feugiat consectetur massa. Neque, bibendum vitae fermentum senectus sit. Sed proin facilisis
                            gravida nunc. Sed amet cursus tellus volutpat risus, turpis ut ridiculus aliquam. Nam.
                        </div>
                        <div class="action">
                            <a href="#" class="like liked">120 Thích</a>
                            <p>·</p>
                            <a href="#" class="reply">Trả lời</a>
                            <p>·</p>
                            <time class="time">4 giờ trước</time>
                        </div>
                        <!-- <div class="wrap-reply">
                            <textarea placeholder="Nhập bình luận"></textarea>
                            <button class="btn-submit" data-toggle="modal" data-target="#modalLogin">Gửi bình
                                luận</button>
                        </div> -->
                    </div>
                </div>
            </div>
            <button type="button" class="show-more" data-toggle="modal" data-target="#ModalNoti">Xem thêm bình
                luận</button>
        </div>
    </div>
</div>