<div class="box-default">
    <div class="wrap-heading">
        <h3 class="box-heading">
            <a href="" class="title">thông tin cần biết</a>
        </h3>
    </div>
    <div class="box-content">
        @@for (var i = 0; i < 3; i++) {
            <article class="story">
                <h5 class="story__heading">
                   <a href="#">
                    Lễ đón chính thức Toàn quyền Australia David Hurley
                   </a>
                </h5>
                <figure class="story__thumb">
                    <img src="https://source.unsplash.com/featured/100x100?sig=1" alt="100x100 (~1:1)">
                </figure>
            </article>
        }
    </div>
</div>